.message {
    position: absolute;
    color: green;
    right: 30px;
    top: 108px;
}

.table-responsive {
    overflow-y: auto;
}

.search-input {
    margin-top: 20px;
    border-radius: 20px;
    width: 541px;
    height: 40px;
    background-color: #fff5fa !important;
    border: 1px solid #c72571;
}

.search-input::placeholder {
    font-size: 14px;
}

.submit-btn {
    position: absolute;
    width: 18%;
    font-size: 16px;
    border: 1px solid #842029 !important;
    border-radius: 50px !important;
    background-color: #b31d5d;
    color: #fff;
    padding: 6px;
    top: 21px;
    right: 0px;
}

.start_date {
    position: absolute;
    top: 27px;
    left: 176px;
    background: transparent;
    border: none;
    width: 116px;
    color: #999;
    padding: 0px 0px 0px 6px;
    border-left: 2px solid #888;
}

.end_date {
    position: absolute;
    top: 27px;
    right: 116px;
    background: transparent;
    border: none;
    width: 116px;
    color: #999;
    padding: 0px 0px 0px 6px;
    border-left: 2px solid #888;
}

.start_date:focus-visible, .end_date:focus-visible {
    outline: none;
}

.netural {
    display: inline-block;
    border: 1px solid #06469b;
    font-size: 11px;
    background-color: #dbdbf5;
    padding: 5px 18px;
    border-radius: 15px;
    margin: 5px 3px;
    color: #1f05ca;
}
.positive {
    display: inline-block;
    border: 1px solid #0eda07;
    font-size: 11px;
    background-color: #ebf9ef;
    padding: 5px 18px;
    border-radius: 15px;
    margin: 5px 3px;
    color: #05b91d;
}
.dead {
    display: inline-block;
    border: 1px solid #c72571;
    font-size: 11px;
    background-color: #fff5fa;
    padding: 5px 18px;
    border-radius: 15px;
    margin: 5px 3px;
    color: #c72571;
}

.tdata.status .status-display {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.status-div {
    width: 100%;
}

.tabel_body_div {
    width: 80rem;
    overflow: scroll;
}

.table-container {
    overflow-x: auto;
    scrollbar-width: thin;
}

.table-container table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    white-space: nowrap;
}