/* styling for the search form */
.search-form {
    position: relative;
    display: inline-block;
}

/* Style the search input field */
.search-input {
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    background-color: #fff5fa !important;
    border: 1px solid #c72571;
}

input:-internal-autofill-selected {
    background-color: #fff5fa !important;
}

.search-input {
    padding-left: 40px;
}

.search-input::placeholder {
    font-size: 12px;
}

.search-input:focus {
    outline: none;
}
/* ---------------------------------------------------------------------- */

.select-div {
    position: relative;
    display: none; /* Hide the original select */
}

.custom-select {
    position: relative;
    width: 170px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    align-items: center;
}

.selected-option {
    padding: 5px;
    border: 1px solid #c72571;
    cursor: pointer;
    background-color: white;
    width: 60%;
    font-size: 12px;
    font-weight: 600;
}

.custom-options {
    position: absolute;
    top: 88%;
    right: 0px;
    width: 60%;
    font-size: 12px;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;
}

.custom-options.show {
    display: block;
}

.custom-option {
    padding: 5px;
    cursor: pointer;
}

.custom-option:hover {
    background-color: #fff5fa;
    color: #000000;
}

.custom-option.selected {
    background-color: #fff5fa;
    color: #000000;
}

.downward-arrow {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    rotate: 180deg;
    display: inline-block;
    margin-left: 8px;
}

/* ---------------------------------------------------------------------- */
/* Style the search button */
.search-button {
    position: absolute;
    top: 2px;
    left: 10px;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.user-para {
    color: #333;
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}

.excel {
    width: 28px;
    height: 26px;
}

.bi-filetype-csv, .bi-file-earmark-pdf {
    height: 26px;
    width: 28px;
    fill: #333;
}

.bi-filetype-csv:active, .bi-file-earmark-pdf:active {
    fill: #c72571;
    
}

.border-div:active {
    border: 1px solid #c72571;
}

.excel-style {
    stroke: #303c42;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#export-excel-link:active .excel-style {
    stroke: #c72571 !important;
}

.bi-search {
    width: 14px;
    height: 14px;
}

.border-div {
    position: relative;
    border: 1px solid #aaa;
    padding: 8px 7px;
    margin: 0px 3px;
}

.csv,
.pdf {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 7px;
    font-weight: 600;
}

.excel-text {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 1px;
    font-weight: 600;
}


.select-div {
    font-size: 12px;
    border: 1px solid #c72571;
    padding: 5px;
    font-weight: 600;
    outline: none;
    background-color: #fff;
}

/* Custom styling for options */
select option {
    background-color: white;
    color: black;
}

select option:hover {
    background-color: #fff5fa;
}

.select-div:focus {
    border-color: #c72571;
}

.item-range {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.anchor {
    color: #000000;
}

.anchor:hover {
    color: #c72571;
}

.page-icon {
    padding-left: 5px;
    padding-right: 5px;
}


/* tabel style */

.form-check-input:checked {
    background-color: #c72571 !important;
    border-color: #c72571 !important;
}

/* .form-check-input:checked .trow {
    color: #c72571 !important;
    background-color: #ffffff;
    border-color: #c72571 !important;
} */

.checked-row {
    color: #c72571 !important;
    background-color: #ffffff;
    border-color: #c72571 !important;
}

.checked-perm {
    background-color: #fee9ff !important;
    color: #c72571 !important;
    border: 1px solid #c72571 !important;
}

.checked-action {
    fill: #c72571 !important;
    border: 1px solid #c72571 !important;
}

table {
    width: 100%;
}

.table-div {
    border-collapse: collapse;
}

.check {
    border: 1px solid #aaa;
    background-color: #fff5fa;
    padding: 10px;
    width: 0px;
}

.thead, .tdata {
    border: 1px solid #aaa;
}

.thead {
    background-color: #fff5fa;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    width: 11%;
}

.password {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 10%;
}

.Permission {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 35%;
}

.action {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 14%;
}

.check1 {
    border: 1px solid #aaa;
    padding: 10px;
}

.tdata {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 7px;   
}

/* permission style */

.permission {
    border: 1px solid #aaa;
}

.perm {
    padding: 5px 0px;
}

.staff {
    display: inline-block;
    border: 1px solid #f7ac43;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fff0dc;
    padding: 5px 18px;
    border-radius: 15px;
    color: #f4950f;
}

.enrollment {
    display: inline-block;
    border: 1px solid #c72571;
    font-size: 11px;
    background-color: #fff5fa;
    padding: 5px 18px;
    border-radius: 15px;
    margin: 5px 3px;
    color: #c72571;
}

.payment {
    display: inline-block;
    margin: 5px 3px;
    border: 1px solid #6f71ef;
    font-size: 11px;
    background-color: #e1e6ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #2112ef;
}

.report {
    display: inline-block;
    border: 1px solid #0d888f;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #c5f9ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #0e7f93;
}

.enquiry {
    display: inline-block;
    border: 1px solid #7b8404;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fffed4;
    padding: 5px 18px;
    border-radius: 15px;
    color: #5c6909;
}

.attendance {
    display: inline-block;
    border: 1px solid #268101;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #e2fec9;
    padding: 5px 18px;
    border-radius: 15px;
    color: #6dc118;
}

.placement {
    display: inline-block;
    border: 1px solid #b515ab;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fee9ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #e709f3;
}


/* action style */

.edit-icon, .delete-icon {
    padding: 5px;
    border: 1px solid #aaa;
    width: 34px;
    height: 30px;
    margin: 5px;
    background-color: #eee;
    fill: #666;
}

.delete .delete-icon {
    padding: 3px 1px;
    border: 1px solid #aaa;
    width: 34px;
    height: 30px;
    background-color: #eee;
    fill: #666;
}
