/* styling for the search form */
.search-form {
    position: relative;
    display: inline-block;
}

/* Style the search input field */
.search-input {
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    background-color: #fff5fa;
    border: 1px solid #c72571;
}

.search-input {
    padding-left: 40px;
}

.search-input::placeholder {
    font-size: 12px;
}

/* Style the search button */
.search-button {
    position: absolute;
    top: 2px;
    left: 10px;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.excel {
    width: 28px;
    height: 26px;
}

.bi-filetype-csv, .bi-file-earmark-pdf {
    height: 26px;
    width: 28px;
}

.bi-search {
    width: 12px;
    height: 12px;
}

.border-div {
    position: relative;
    border: 1px solid #aaa;
    padding: 8px 7px;
    margin: 0px 4px;
}

.csv,
.pdf {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 7px;
    font-weight: 600;
}

.excel-text {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 1px;
    font-weight: 600;
}


.select-div {
    font-size: 12px;
    border: 1px solid #c72571;
    padding: 5px;
    font-weight: 600;
}

.select-div:focus {
    border-color: #c72571;
}

.item-range {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.anchor {
    color: #000000;
}

.anchor:hover {
    color: #c72571;
}

.page-icon {
    padding-left: 5px;
    padding-right: 5px;
}


/* tabel style */

.form-check-input:checked {
    background-color: #c72571 !important;
    border-color: #c72571 !important;
}

.trow:hover {
    color: #c72571 !important;
    background-color: #ffffff;
    border-color: #c72571 !important;
}

table {
    margin-right: 7px;
}

.table-div {
    border-collapse: collapse;
    width: 100%;
}

.check {
    border: 1px solid #aaa;
    background-color: #fff5fa;
    padding: 10px;
    width: 0px;
}

.thead, .tdata {
    border: 1px solid #aaa;
}

.thead {
    background-color: #fff5fa;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    width: 14%;
}

.password {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 10%;
}

.Permission {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 35%;
}

.action {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 12%;
}

.check1 {
    border: 1px solid #aaa;
    padding: 10px;
}

.tdata {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 7px;   
}

/* permission style */

.permission {
    border: 1px solid #aaa;
}

.perm {
    padding: 5px 0px;
}

.staff {
    border: 1px solid #f7ac43;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fff0dc;
    padding: 5px 18px;
    border-radius: 15px;
    color: #f4950f;
}

.enrollment {
    border: 1px solid #c72571;
    font-size: 11px;
    background-color: #fff5fa;
    padding: 5px 18px;
    border-radius: 15px;
    margin: 5px 3px;
    color: #c72571;
}

.payment {
    margin: 5px 3px;
    border: 1px solid #6f71ef;
    font-size: 11px;
    background-color: #e1e6ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #2112ef;
}

.report {
    border: 1px solid #0d888f;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #c5f9ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #0e7f93;
}

.enquiry {
    border: 1px solid #7b8404;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fffed4;
    padding: 5px 18px;
    border-radius: 15px;
    color: #5c6909;
}

.attendance {
    border: 1px solid #268101;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #e2fec9;
    padding: 5px 18px;
    border-radius: 15px;
    color: #6dc118;
}

.placement {
    border: 1px solid #b515ab;
    font-size: 11px;
    margin: 5px 3px;
    background-color: #fee9ff;
    padding: 5px 18px;
    border-radius: 15px;
    color: #e709f3;
}


/* action style */

.bi-pencil, .bi-trash3 {
    padding: 5px;
    border: 1px solid #aaa;
    width: 30px;
    height: 26px;
    margin: 5px;
    background-color: #eee;
    fill: #666;
}
