/* styling for the search form */
.search-form {
    position: relative;
    display: inline-block;
}

/* Style the search input field */
.search-input {
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    background-color: #fff5fa;
    border: 1px solid #c72571;
}

.search-input {
    padding-left: 40px;
}

.search-input::placeholder {
    font-size: 12px;
}

/* Style the search button */
.search-button {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.excel {
    width: 16px;
}

.bi-search {
    width: 12px;
    height: 12px;
}

.border-div {
    position: relative;
    border: 1px solid #aaa;
}

.csv,
.pdf {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 10px;
    font-weight: 600;
}

.excel-text {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 5px;
    font-weight: 600;
}


.select-div {
    font-size: 12px;
    border: 1px solid #c72571;
    padding: 5px;
    font-weight: 600;
}

.select-div:focus {
    border-color: #c72571;
}

.item-range {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.page-icon {
    padding-left: 5px;
    padding-right: 5px;
}


/* tabel style */

.table-div {
    border-collapse: collapse;
    width: 100%;
}

.check {
    border: 1px solid #aaa;
    background-color: #fff5fa;
    padding: 10px;
}

.thead, .tdata {
    border: 1px solid #aaa;
}

.thead {
    background-color: #fff5fa;
    padding: 5px 95px 5px 10px;
    font-size: 12px;
}

.password {
    background-color: #fff5fa;
    padding: 5px 70px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
}

.Permission {
    background-color: #fff5fa;
    padding: 5px 120px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
}

.action {
    background-color: #fff5fa;
    padding: 5px 94px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
}

.check1 {
    border: 1px solid #aaa;
    padding: 10px;
}

.tdata {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 7px;   
}

/* permission style */

.perm {
    position: relative;
    padding: 30px;
}

.staff {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #f7ac43;
    font-size: 11px;
    margin: 5px 0px;
    background-color: #fff0dc;
    padding: 1px 18px;
    border-radius: 15px;
    color: #f4950f;
}

.enrollment {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #c72571;
    font-size: 11px;
    background-color: #fff5fa;
    padding: 1px 18px;
    border-radius: 15px;
    margin: 5px 0px;
    color: #c72571;
}

.payment {
    position: absolute;
    margin: 5px 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid #6f71ef;
    font-size: 11px;
    background-color: #e1e6ff;
    padding: 1px 18px;
    border-radius: 15px;
    color: #2112ef;
}

.report {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid #0d888f;
    font-size: 11px;
    margin: 5px 0px;
    background-color: #c5f9ff;
    padding: 1px 18px;
    border-radius: 15px;
    color: #0e7f93;
}




/* action style */

.bi-pencil, .bi-trash3 {
    padding: 5px;
    border: 1px solid #aaa;
    width: 30px;
    height: 26px;
    margin: 5px;
    background-color: #eee;
}
