.balance-td, .total_pending_amount {
    color: red;
    font-size: 14px;
    /* text-align: right; */
}

.text-right {
    text-align: right;
}

.error-msg {
    color: red;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
}

.table {
    min-width: 1000px; /* Set a minimum width to ensure the table requires scrolling */
}

.thead {
    font-size: 14px;
}

.tdata {
    font-size: 13px;
}

.tfess {
    color: #c72571;
}

/* search style */

.search-input {
    width: 550px;
}

.start_date {
    left: 245px;
    padding: 0px 0px 0px 12px;
}

.end_date {
    right: 95px;
    padding: 0px 0px 0px 12px;
}

.search-input {
    width: 550px;
    font-size: 12px;
}

.start_date:focus-visible, .end_date:focus-visible {
    outline: #fcddec;
}

.form-control:focus {
    border: none;
    border-left: 2px solid #888 !important;
    outline: none;
    background-color: #fcddec;
}