.balance-td, .total_pending_amount {
    color: red;
    font-size: 14px;
    /* text-align: right; */
}

.text-right {
    text-align: right;
}

.error-msg {
    color: red;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
}

.table {
    min-width: 1000px; /* Set a minimum width to ensure the table requires scrolling */
}