/* General styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c72571;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #c72571;
}

.sidenav ul {
    padding: 0;
}

.sidenav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 16px;
}

.sidenav .brand {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
    background-color: #b31d5d;
}

li .brand:hover {
    color: #fff;
}

.dashboard {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.bi-columns-gap {
    width: 12px;
    fill: #fff;
}

.btn:hover,
.dropdown-menu a:hover{
    background-color: #fff;
    color: #c72571;
}

.btn-div {
    border-radius: 0px;
}

li a:hover {
    background-color: #fff;
}

li a:hover .dashboard {
    color: #c72571;
}

li a:hover .bi-columns-gap {
    fill: #c72571;
}

.dropdown:hover .bi-caret-right-fill {
    fill: #c72571;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.sidenav li .menus {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.sidenav ul .new, .sidenav ul .manage {
    font-size: 12px;
    padding: 5px 0px 5px 52px;
}

.active {
    background-color: #ffffff;
    color: #c72571;
}

.dropdown-menu {
    background-color: #c72571;
    /* width: calc(100% - 40px); Adjust width to match parent */
    width: 100%;
    padding: 0;
    /* margin-left: 40px; Align with parent padding */
    display: none; /* Start with dropdowns hidden */
    position: relative; /* Ensure dropdowns don't overlap other content */
}

.dropdown-menu a {
    color: #fff;
}

.bi-caret-right-fill {
    fill: #fff;
    width: 12px;
    transition: transform 0.3s ease;
}

.arrow_user {
    transition: transform 0.3s ease;
}

.dropdown.show .dropdown-menu {
    display: block; /* Show dropdown when active */
}

.dropdown-menu.show {
    border: none;
}

.dropdown .arrow_user .bi-caret-right-fill {
    rotate: 90deg; /* Rotate arrow when dropdown is active */
}

.images {
    width: 40px;
    height: 40px;
}

/* Flexbox for dropdown items */
.sidenav .dropdown > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidenav .right_arrow {
    margin-left: auto;
    transition: transform 0.3s ease-out;
}

/* Navbar */
.bi-list {
    margin: 20px;
}

.user-div {
    font-size: 12px;
}

.dropdown-div {
    padding: 0px;
    margin: 0px;
}

.dropdown-div li .admin {
    font-size: 10px;
}

/* Mobile responsiveness */
@media screen and (max-width: 900px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav ul li a {
        float: left;
        padding: 15px;
    }

    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidenav ul li a {
        text-align: center;
        float: none;
    }
}
