{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}User Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enquiry.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'side_navbar.html' %}

    <div class="col-12 col-lg-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-xll-4 mb-2 px-xll-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3 ps-lg-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">Enquiry</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Enquiry</li>
                    </ol>
                </nav>
            </div>
        </div>

        
        <div class="row m-0 p-0">
            <div class="col border-end bg-white rounded ms-xll-4 mb-2 p-0">
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Student Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Education Details</button>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">

                <!-- Tab Content -->
                <form id="enquiry_form" class="pe-lg-2" action="" method="post">
                    <!-- Student details -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row m-0 p-0">
                                    {% csrf_token %}
                                    <div class="col-12 mt-4 ms-md-2 position-relative">
                                        <h5 class="fw-bold st-details">Student Details</h5>
                                        <p class="user-para">Use the below form to update your profile</p>
                                        <span class="message" id="message">
                                            {% for message in messages %}
                                            <div>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        </span>
                                    </div>

                                    <!-- date field -->
                                    <div class="row d-flex justify-content-between pe-0">
                                        <div class="col-12 col-md-6">
                                            <div class="user-input-wrp mx-md-2">
                                                <input type="date" name="enquiry_date" id="enquiry_date" class="form-control"
                                                    aria-label="date" placeholder=" " autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Date <span class="required">*</span> &nbsp;</label>
                                                <span id="date_error" class="error-div">
                                                    {% if enquiry_date %}
                                                        {{enquiry_date}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <!-- enquiry number field -->
                                        <div class="col-12 col-md-6 p-0">
                                            <div class="user-input-wrp ms-4">
                                                <input type="text" name="enquiry_number" id="enquiry_number" value="{{enquiry_no}}" class="form-control"
                                                    aria-label="number" placeholder=" " autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Enquiry No&nbsp;</label>
                                                <span id="enquiry_no_error" class="error-div">
                                                    <!-- {% if enquiry_no %}
                                                        {{enquiry_no}}
                                                    {% endif %} -->
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <!-- student name field -->
                                        <div class="col-12 col-md-6">
                                            <div class="user-input-wrp mx-md-2">
                                                <input type="text" name="student_name" id="student_name" class="form-control"
                                                    aria-label="student_name" placeholder=" " autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Name <span class="required">*</span> &nbsp;</label>
                                                <span id="user_error" class="error-div">
                                                    {% if name %}
                                                        {{name}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
            
                                        <!-- student contact number field -->
                                        <div class="col-12 col-md-6 p-0">
                                            <div class="user-input-wrp ms-4">
                                                <input type="text" name="contact" id="contact" maxlength="10" class="form-control"
                                                    aria-label="contact" placeholder=" " autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Contact No <span class="required">*</span> &nbsp;</label>
                                                <span id="contact_error" class="error-div">
                                                    {% if contact_no %}
                                                        {{contact_no}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
            
                                        <!-- student email field -->
                                        <div class="col-12 col-md-6">
                                            <div class="user-input-wrp mx-md-2">
                                                <input type="email" name="email" id="email" class="form-control" placeholder=" "
                                                    autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;E-Mail-ID <span class="required">*</span> &nbsp;</label>
                                                <span id="email_error" class="error-div error-right">
                                                    {% if email_id %}
                                                        {{email_id}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <!-- student date of birth field -->
                                        <div class="col-12 col-md-6 p-0">
                                            <div class="user-input-wrp ms-4">
                                                <input type="date" name="dob" id="dob" class="form-control" placeholder=" "
                                                    autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Date Of Birth&nbsp;</label>
                                                <span id="dob_error" class="error-div error-right">
                                                    {% if date_of_birth %}
                                                        {{date_of_birth}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>

                                        <!-- student father name / guardian field -->
                                        <div class="col-12 col-md-6">
                                            <div class="user-input-wrp mx-md-2">
                                                <input type="text" name="father_name" id="father_name" class="form-control" placeholder=" "
                                                    autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Father's Name / Guardian's Name&nbsp;</label>
                                                <span id="father_name_error" class="error-div error-right">
                                                    {% if fathers_name %}
                                                        {{fathers_name}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Father's Contact No field -->
                                        <div class="col-12 col-md-6 p-0">
                                            <div class="user-input-wrp ms-4">
                                                <input type="text" name="father_contact" id="father_contact" maxlength="10" maxlength="10" class="form-control" placeholder=" "
                                                    autocomplete="off" autofocus>
                                                <label class="floating-label">&nbsp;Father's Contact No <span class="required">*</span> &nbsp;</label>
                                                <span id="father_contact_error" class="error-div error-right">
                                                    {% if fathers_contact_no %}
                                                        {{fathers_contact_no}}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-6 pe-0">
                                                <!-- Father's Occupation field -->
                                                <div class="col-12 col-md-12 pe-md-0">
                                                    <div class="user-input-wrp mx-md-2">
                                                        <input type="text" name="fathers_occupation" id="fathers_occupation" class="form-control" placeholder=" "
                                                            autocomplete="off" autofocus>
                                                        <label class="floating-label">&nbsp;Father's Occupation&nbsp;</label>
                                                        <span id="father_occupation_error" class="error-div error-right">
                                                            {% if fathers_occupation %}
                                                                {{fathers_occupation}}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Course Name field -->
                                                <div class="col-12 col-md-12 pe-md-0">
                                                    <div class="user-input-wrp mx-md-2 my-md-5">
                                                        <select class="form-select select" id="courseName" name="course_name" required>
                                                            <option value="select" selected>Select Your Course</option>
                                                            {% for course in courses %}
                                                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="courseName" class="floating-label float">&nbsp;Course Name <span class="required">*</span> &nbsp;</label>
                                                        <span id="course_name_error" class="error-div error-right">
                                                            {% if course_name %}
                                                                {{course_name}}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Technology field -->
                                                <div class="col-12 col-md-12 pe-md-0">
                                                    <div class="user-input-wrp mx-md-2 my-md-5">
                                                        <input type="text" name="technology" id="technology" class="form-control" placeholder=" "
                                                            autocomplete="off" autofocus>
                                                        <label class="floating-label">&nbsp;Technology <span class="required">*</span> &nbsp;</label>
                                                        <span id="technology_error" class="error-div error-right">
                                                            {% if inplant_technology %}
                                                                {{inplant_technology}}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <!-- No.of Days field -->
                                                    <div class="col-12 col-md-6 pe-md-0">
                                                        <div class="user-input-wrp mx-md-2">
                                                            <input type="text" name="inplant_no_of_days" id="inplant_no_of_days" class="form-control" placeholder=" "
                                                                autocomplete="off" autofocus>
                                                            <label class="floating-label">&nbsp;No.of Days <span class="required">*</span> &nbsp;</label>
                                                            <span id="inplant_no_of_days_error" class="error-div error-right">
                                                                {% if inplant_no_of_days %}
                                                                    {{inplant_no_of_days}}
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <!-- No.of Days Students -->
                                                    <div class="col-12 col-md-6">
                                                        <div class="user-input-wrp me-md-2">
                                                            <input type="text" name="inplant_no_of_students" id="inplant_no_of_students" class="form-control" placeholder=" "
                                                                autocomplete="off" autofocus>
                                                            <label class="floating-label">&nbsp;No.of Students <span class="required">*</span> &nbsp;</label>
                                                            <span id="inplant_no_of_students_error" class="error-div error-right">
                                                                {% if inplant_no_of_students %}
                                                                    {{inplant_no_of_students}}
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                            </div>
                                            <div class="col-6 p-0">
                                                <!-- Address field -->
                                                <div class="col-12 col-md-12 ms-md-4">
                                                    <div class="user-input-wrp ms-md-3">
                                                        <textarea name="address" id="address" class="form-control text-area" rows="9" cols="1" placeholder=" "
                                                            autocomplete="off" autofocus>
                                                        </textarea>
                                                        <label class="floating-label">&nbsp;Address&nbsp;</label>
                                                        <span id="father_occupation_error" class="error-div error-right">
                                                            {% if address %}
                                                                {{address}}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Next Follow-Up Date field -->
                                                <!-- <div class="col-12 col-md-12 ms-md-4">
                                                    <div class="user-input-wrp ms-md-3 mt-md-5">
                                                        <input type="text" name="next_follow_up_date" id="next_follow_up_date" class="form-control"
                                                            aria-label="date" placeholder=" " autocomplete="off" autofocus>
                                                        <label class="floating-label">&nbsp;Next Follow-Up Date <span class="required">*</span> &nbsp;</label>
                                                        <span id="next_follow_up_date_error" class="error-div">
                                                            {% if next_follow_up_date %}
                                                                {{next_follow_up_date}}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    
            
                                    <div class="row d-flex justify-content-between">
                                        <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                        </div>
                                        <div class="col-6 d-flex justify-content-lg-end ps-lg-4 p-0 ps-4 gap-5">
                                            <button class="btn login-btn" id="next-tab">Next</button>
                                            <!-- <input type="submit" value="submit" class="btn login-btn"> -->
                                        </div>
                                    </div>

                                    
                                
                                <span>
                                    {% if error_messages %}
                                    <div class="errors-common">
                                        <ul class="ul-errors">
                                            {% for field, message in error_messages.items %}
                                                {% if message %}
                                                    <li>{{ message }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <!-- Education details -->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="col-12 mt-4 ms-md-3 position-relative">
                                <h5 class="fw-bold st-details">Education Details</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                                <!-- <span class="message" id="message">{{message}}</span> -->
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!-- degree field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp mx-md-3">
                                            <input type="text" name="degree" id="degree" class="form-control"
                                                aria-label="degree" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Degree <span class="required">*</span> &nbsp;</label>
                                            <span id="degree_error" class="error-div">
                                                {% if degree %}
                                                    {{degree}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- grade-persentage field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp mx-md-3 mt-md-5">
                                            <input type="text" name="grade_persentage" id="grade_persentage" class="form-control"
                                                aria-label="collage" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Grade-Persentage&nbsp;</label>
                                            <span id="grade_persentage_error" class="error-div">
                                                {% if grade_percentage %}
                                                    {{grade_percentage}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- collage field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp me-md-4">
                                            <input type="text" name="college" id="college" class="form-control"
                                                aria-label="college" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Collage <span class="required">*</span> &nbsp;</label>
                                            <span id="college_error" class="error-div">
                                                {% if college %}
                                                    {{college}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Year Of Graduation field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp me-md-4 mt-md-5">
                                            <input type="text" name="year_of_graduation" id="year_of_graduation" class="form-control"
                                                aria-label="collage" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Year Of Graduation <span class="required">*</span> &nbsp;</label>
                                            <span id="year_of_graduation_error" class="error-div">
                                                {% if year_of_graduation %}
                                                    {{year_of_graduation}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Mode of Enquiry -->
                        
                            <div class="col-12 mt-4 ms-md-3 position-relative">
                                <h5 class="fw-bold st-details">Mode of Enquiry</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                                <!-- <span class="message" id="message">{{message}}</span> -->
                            </div>

                            <div class="row">
                                <div class="col">

                                    <!-- Mode of Enquiry field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp mx-md-3 mb-md-5">
                                            <select name="mode_of_enquiry" id="mode_of_enquiry" class="form-select select" onchange="handleModeOfEnquiryChange()">
                                                <option value="" selected>Select Mode of Enquiry</option>
                                                <!-- <option value="Reference">Reference</option>
                                                <option value="Others">Others</option> -->
                                                {% for mode in mode_of_enquiry_choices %}
                                                    <option value="{{ mode.0 }}">{{ mode.1 }}</option>
                                                {% endfor %}
                                            </select>
                                            <label class="floating-label">&nbsp;Mode of Enquiry <span class="required">*</span> &nbsp;</label>
                                            <span id="mode_of_enquiry_error" class="error-div">
                                                {% if mode_of_enquiry %}
                                                        {{mode_of_enquiry}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Refferenc Name -->
                                    <div class="col-12 col-md-12" style="display: none;" id="reference_name_div">
                                        <div class="user-input-wrp mx-md-3 mb-md-5">
                                            <input type="text" name="reference_name" id="reference_name" class="form-control"
                                                aria-label="collage" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Refference Name <span class="required">*</span> &nbsp;</label>
                                            <span id="reference_name_error" class="error-div">
                                                {% if reference_name %}
                                                        {{reference_name}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Father's Contact No field -->
                                    <div class="col-12 col-md-12" style="display: none;" id="reference_contact_div">
                                        <div class="user-input-wrp mx-md-3 mb-md-5">
                                            <input type="text" name="reference_contact" id="reference_contact" maxlength="10" class="form-control" placeholder=" "
                                                autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Contact No <span class="required">*</span> &nbsp;</label>
                                            <span id="reference_contact_error" class="error-div error-right">
                                                {% if reference_contact_no %}
                                                        {{reference_contact_no}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Others field -->
                                    <div class="col-12 col-md-12" style="display: none;" id="other_enquiry_details_div">
                                        <div class="user-input-wrp mx-md-3 mb-md-5">
                                            <input type="text" name="other_enquiry_details" id="other_enquiry_details" class="form-control"
                                                aria-label="collage" placeholder=" " autocomplete="off" autofocus>
                                            <!-- <label class="floating-label">&nbsp;Refference Name&nbsp;</label> -->
                                            <span id="other_enquiry_details_error" class="error-div">
                                                {% if other_enquiry_details %}
                                                        {{other_enquiry_details}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <!-- Status Field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp ms-md-0 me-md-4 mb-md-5">
                                            <textarea name="address" id="address" class="form-control text-area" rows="5" cols="1" placeholder=" " autocomplete="off" autofocus>
                                            
                                            </textarea>
                                            <label class="floating-label">&nbsp;Status&nbsp;</label>
                                            <span id="degree_error" class="error-div">
                                                
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Next Follow-Up Date field -->
                                    <div class="col-12 col-md-12">
                                        <div class="user-input-wrp me-md-4 mt-md-5">
                                            <input type="date" name="next_follow_up_date" id="next_follow_up_date" class="form-control"
                                                aria-label="date" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Next Follow-Up Date <span class="required">*</span> &nbsp;</label>
                                            <span id="next_follow_up_date_error" class="error-div">
                                                {% if next_follow_up_date %}
                                                    {{next_follow_up_date}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                    </div>
                                    <div class="col-6 d-flex justify-content-lg-end ps-lg-4 p-0 ps-4 gap-5">
                                        <button class="btn login-btn nav-link active " id="student-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Back</button>
                                        <input type="submit" value="submit" class="btn login-btn">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>
    // tab functionality
    document.getElementById('next-tab').addEventListener('click', function () {
        event.preventDefault();
        var profileTab = new bootstrap.Tab(document.getElementById('profile-tab'));
        profileTab.show();
    });
    
    document.getElementById('student-tab').addEventListener('click', function () {
        event.preventDefault();
        var profileTab = new bootstrap.Tab(document.getElementById('home-tab'));
        profileTab.show();
    });

    // dropdown functionality
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });
    
    // validation

    // Function to validate date format (dd/mm/yyyy)
    function validateDate(dateString) {
        var regex = /^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$/;
        return regex.test(dateString);
    }

    document.getElementById('enquiry_form').addEventListener('submit', function(event) {
        console.log("form function trigred")
        event.preventDefault();
        let hasError = false;

        const today = new Date();
            
        // Get the entered date and today's date
        const enteredDate = new Date(document.getElementById('enquiry_date').value);

        console.log(enteredDate)

        const formattedToday = new Date(today.toISOString().split('T')[0]);

        console.log(formattedToday)

        // Date Validation
        var dateField = document.getElementById('enquiry_date');
        console.log(dateField)
        if (dateField.value.trim() === "") {
            console.log("date field trigred")
            document.getElementById('date_error').innerText = "Date Field is required.";
            hasError = true;
        } else if (enteredDate < formattedToday) {
            document.getElementById('date_error').innerText = "The date cannot be before today.";
            dateField.value = today.toISOString().split('T')[0];
            hasError = true;
        }
        else {
            document.getElementById('date_error').innerText = "";
        }

        // Student Name Validation
        var studentName = document.getElementById('student_name');
        if (studentName.value.trim() === "") {
            document.getElementById('user_error').innerText = "Student Name Field is required.";
            hasError = true;
        } else {
            document.getElementById('user_error').innerText = "";
        }

        // Contact Number Validation
        var contactField = document.getElementById('contact');
        if (contactField.value.trim() === "") {
            document.getElementById('contact_error').innerText = "Contact Field is required.";
            hasError = true;
        }
        else if (contactField.value.length != 10 || isNaN(contactField.value)) {
            document.getElementById('contact_error').innerText = "Please enter a valid 10-digit contact number.";
            hasError = true;
        } else {
            document.getElementById('contact_error').innerText = "";
        }

        // Email Validation
        var emailField = document.getElementById('email');
        var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        if (emailField.value.trim() === "") {
            document.getElementById('email_error').innerText = "Email Field is required.";
            hasError = true;
        }
        else if (!emailRegex.test(emailField.value)) {
            document.getElementById('email_error').innerText = "Please enter a valid email address.";
            hasError = true;
        } else {
            document.getElementById('email_error').innerText = "";
        }

        // Date of Birth Validation
        // var dobField = document.getElementById('dob');
        // if(dobField.value.trim() === "") {
        //     document.getElementById('dob_error').innerText = "Date of Birth Field is required.";
        //     hasError = true;
        // }
        // else if (!validateDate(dobField.value)) {
        //     document.getElementById('dob_error').innerText = "Please enter a valid date in yyyy/mm/dd format.";
        //     hasError = true;
        // } else {
        //     document.getElementById('dob_error').innerText = "";
        // }

        // Father Name Validation
        // var studentName = document.getElementById('father_name');
        // if (studentName.value.trim() === "") {
        //     document.getElementById('father_name_error').innerText = "Father Name Field is required.";
        //     hasError = true;
        // } else {
        //     document.getElementById('father_name_error').innerText = "";
        // }

        // Father's Contact Number Validation
        var fatherContactField = document.getElementById('father_contact');
        if (fatherContactField.value.trim() === "") {
            document.getElementById('father_contact_error').innerText = "Father contact Field is required.";
        }
        else if ( fatherContactField.value.length != 10 || isNaN(fatherContactField.value)) {
            document.getElementById('father_contact_error').innerText = "Please enter a valid 10-digit contact number.";
            hasError = true;
        } else {
            document.getElementById('father_contact_error').innerText = "";
        }

        // course name field validation
        var courseName = document.getElementById('courseName');
        if (courseName.value.trim() === "select") {
            document.getElementById('course_name_error').innerText = "Please select your course.";
            hasError = true;
        } else {
            document.getElementById('course_name_error').innerText = "";
        }

        // Technology field validation
        var technology = document.getElementById('technology');
        if (technology.value.trim() === "") {
            document.getElementById('technology_error').innerText = "Technology Field is required.";
            hasError = true;
        } else {
            document.getElementById('technology_error').innerText = "";
        }

        // Number of days fields validation
        var No_of_Days = document.getElementById('inplant_no_of_days');
        if (No_of_Days.value.trim() === "") {
            document.getElementById('inplant_no_of_days_error').innerText = "No.of Days Field is required.";
            hasError = true;
        } else {
            document.getElementById('inplant_no_of_days_error').innerText = "";
        }
        
        // Number of Students fields validation
        var No_of_Days = document.getElementById('inplant_no_of_students');
        if (No_of_Days.value.trim() === "") {
            document.getElementById('inplant_no_of_students_error').innerText = "No.of Student Field is required.";
            hasError = true;
        } else {
            document.getElementById('inplant_no_of_students_error').innerText = "";
        }
        
        const enteredFollowUpDate = new Date(document.getElementById('next_follow_up_date').value);

        // Next follow-up field validation
        var Next_follow_up = document.getElementById('next_follow_up_date');
        if (Next_follow_up.value.trim() === "") {
            document.getElementById('next_follow_up_date_error').innerText = "Next follow-up Field is required.";
            hasError = true;
        } else if (enteredFollowUpDate < formattedToday) {
            document.getElementById('next_follow_up_date_error').innerText = "The date cannot be before today.";
            dateField.value = today.toISOString().split('T')[0];
            hasError = true;
        } else {
            document.getElementById('next_follow_up_date_error').innerText = "";
        }

        // Degree fields validation
        var degree = document.getElementById('degree');
        if (degree.value.trim() === "") {
            document.getElementById('degree_error').innerText = "Degree Field is required.";
            hasError = true;
        } else {
            document.getElementById('degree_error').innerText = "";
        }
        
        // college fields validation
        var college = document.getElementById('college');
        if (college.value.trim() === "") {
            document.getElementById('college_error').innerText = "College Field is required.";
            hasError = true;
        } else {
            document.getElementById('college_error').innerText = "";
        }
        
        // grade_persentage fields validation
        // var grade_persentage = document.getElementById('grade_persentage');
        // if (grade_persentage.value.trim() === "") {
        //     document.getElementById('grade_persentage_error').innerText = "Grade Persentage Field is required.";
        //     hasError = true;
        // } else {
        //     document.getElementById('grade_persentage_error').innerText = "";
        // }
        
        // year_of_graduation fields validation
        var year_of_graduation = document.getElementById('year_of_graduation');
        if (year_of_graduation.value.trim() === "") {
            document.getElementById('year_of_graduation_error').innerText = "Year of Graduation Field is required.";
            hasError = true;
        } else {
            document.getElementById('year_of_graduation_error').innerText = "";
        }
        
        // Mode of Enquiry fields validation
        var mode_of_enquiry = document.getElementById('mode_of_enquiry');
        if (mode_of_enquiry.value.trim() === "") {
            document.getElementById('mode_of_enquiry_error').innerText = "Please Select Your Mode of Enquiry.";
            hasError = true;
        } else {
            document.getElementById('mode_of_enquiry_error').innerText = "";
        }

        console.log(hasError)

        if (!hasError) {
            document.getElementById("enquiry_form").submit();
            // Reload the page after a short delay (optional)
            setTimeout(function() {
                console.log("ding")
                window.location.href = "http://127.0.0.1:8000/enquiry/";
            }, 5000); // Adjust the delay as needed
        }
    });

    function permission(checkboxId) {
        // Get the checkbox
        console.log("permission function")
        var checkBox = document.getElementById(checkboxId);
        // Get the output text
        // var text = document.getElementById('text_' + checkboxId);

        // If the checkbox is checked, display the output text
        if (checkBox.checked) {
            checkBox.value = true;
        } else {
            checkBox.value = false;
        }
    }

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());


    function handleModeOfEnquiryChange() {
        console.log("hello")
        const modeOfEnquiry = document.getElementById('mode_of_enquiry').value;
        const referenceName = document.getElementById('reference_name_div');
        const referenceContact = document.getElementById('reference_contact_div');
        const otherEnquiryDetailsDiv = document.getElementById('other_enquiry_details_div');

        console.log(modeOfEnquiry)
        console.log(referenceName)
        console.log(otherEnquiryDetailsDiv)

        // Hide all fields initially
        referenceName.style.display = 'none';
        otherEnquiryDetailsDiv.style.display = 'none';
        referenceContact.style.display = 'none';

        // Show relevant fields based on selected mode of enquiry
        if (modeOfEnquiry === 'Reference') {
            referenceName.style.display = 'block';
            referenceContact.style.display = 'block';
        } else if (modeOfEnquiry === 'Others') {
            otherEnquiryDetailsDiv.style.display = 'block';
        }
    }

    // Function to format the current date as YYYY-MM-DD
    function getCurrentDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day = String(today.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Function to format the current date as YYYY-MM-DD
    function getCurrentDateplusOne() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day = String(today.getDate() + 1).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Set the default value of the date input field to the current date
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dob').value = getCurrentDate();
    });
    
    // Set the default value of the date input field to the current date
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('enquiry_date').value = getCurrentDate();
        document.getElementById('enquiry_date').setAttribute('min', getCurrentDate());
    });
    
    // Set the default value of the date input field to the current date
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('next_follow_up_date').value = getCurrentDateplusOne();
        document.getElementById('next_follow_up_date').setAttribute('min', getCurrentDate())
    });
</script>
{% endblock %}