{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}User Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'side_navbar.html' %}

    <div class="col-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-4 mb-2 px-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">User Module</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New User</li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-4 mb-2 px-4">

                <div class="row m-0 p-0">
                    <form id="login-form" action="" method="post">
                        {% csrf_token %}
                        <div class="col-12 mt-4 position-relative">
                            <h5 class="fw-bold">New User</h5>
                            <p class="user-para">Use the below form to update your profile</p>
                            <span class="message" id="message">{{message}}</span>
                        </div>
                        <div class="row d-flex justify-content-between pe-0">
                            <div class="col-6">
                                <div class="user-input-wrp me-4">
                                    <input type="text" name="username" id="username" class="form-control"
                                        aria-label="Username" placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Name&nbsp;</label>
                                    <span id="user_error" class="error-div">
                                        <!-- {% if username %}
                                        {{username}}
                                        {% endif %} -->
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 pe-0">
                                <div class="user-input-wrp ms-4">
                                    <input type="email" name="email" id="email" class="form-control" placeholder=" "
                                        autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;E-Mail-ID&nbsp;</label>
                                    <span id="email_error" class="error-div error-right">
                                        <!-- {% if email %}
                                        {{email}}
                                        {% endif %} -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between pe-0">
                            <div class="col-6">
                                <div class="user-input-wrp me-4">
                                    <input type="text" name="contact" id="contact" maxlength="10" class="form-control"
                                        aria-label="contact_no" placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Contact No&nbsp;</label>
                                    <span id="contact_error" class="error-div">
                                        <!-- {% if contact %}
                                        {{contact}}
                                        {% endif %} -->
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 pe-0">
                                <div class="user-input-wrp ms-4">
                                    <input type="text" name="designation" id="designation" class="form-control"
                                        aria-label="designation" placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Designation&nbsp;</label>
                                    <span id="designation_error" class="error-div error-right">
                                        <!-- {% if designation %}
                                        {{designation}}
                                        {% endif %} -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex mt-3 position">
                            <p class="permission-p">Department Permission</p> 
                            <span id="permission_error" class="error-div perm-error"></span>
                            
                            <div class="row gap-5 ms-2 mb-3 p-0">
                                <div class="col d-flex justify-content-end p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Enquiry"
                                            id="inlineCheckbox1" value="false" onclick="permission('inlineCheckbox1')">
                                        <label class="form-check-label" for="inlineCheckbox1">&nbsp;Enquiry&nbsp;</label>
                                        <span id="text_inlineCheckbox1"></span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Enrollment"
                                            id="inlineCheckbox2" value="false" onclick="permission('inlineCheckbox2')">
                                        <label class="form-check-label" for="inlineCheckbox2">&nbsp;Enrollment&nbsp;</label>
                                        <span id="text_inlineCheckbox2"></span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Attendance"
                                            id="inlineCheckbox3" value="false" onclick="permission('inlineCheckbox3')">
                                        <label class="form-check-label" for="inlineCheckbox3">&nbsp;Attendance&nbsp;</label>
                                        <span id="text_inlineCheckbox3"></span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end  p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Staff"
                                            id="inlineCheckbox4" value="false" onclick="permission('inlineCheckbox4')">
                                        <label class="form-check-label" for="inlineCheckbox4">&nbsp;Staff&nbsp;</label>
                                        <span id="text_inlineCheckbox4"></span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end  p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Placement"
                                            id="inlineCheckbox5" value="false" onclick="permission('inlineCheckbox5')">
                                        <label class="form-check-label" for="inlineCheckbox5">&nbsp;Placement&nbsp;</label>
                                        <span id="text_inlineCheckbox5"></span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end p-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="Report"
                                            id="inlineCheckbox6" value="false" onclick="permission('inlineCheckbox6')">
                                        <label class="form-check-label" for="inlineCheckbox6">&nbsp;Report&nbsp;</label>
                                        <span id="text_inlineCheckbox6"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-between pe-0">
                            <div class="col-6">
                                <div class="user-input-wrp me-4">
                                    <input type="password" name="password" id="password" class="form-control"
                                        aria-label="password" placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Password&nbsp;</label>
                                    <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path
                                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                        <path
                                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                        <path
                                            d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                    </svg>
                                    <span id="pass_error" class="error-div">
                                        <!-- {% if password %}
                                        {{password}}
                                        {% endif %} -->
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 pe-0">
                                <div class="user-input-wrp ms-4">
                                    <input type="password" name="cpassword" id="cpassword" class="form-control"
                                        aria-label="password" placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Conform Password&nbsp;</label>
                                    <svg id="togglePassword1" xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path
                                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                        <path
                                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                        <path
                                            d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                    </svg>
                                    <span id="cpass_error" class="error-div error-right"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-between">
                            <div class="col-6 d-flex justify-content-end pe-4">
                                <input type="reset" value="Cancel" class="btn login-btn">
                            </div>
                            <div class="col-6 d-flex justify-content-start ps-4">
                                <input type="submit" value="Save" class="btn login-btn">
                            </div>
                        </div>
                    </form>
                    <span>
                        {% if error_messages %}
                        <div class="errors-common">
                            <ul class="ul-errors">
                                {% for field, message in error_messages.items %}
                                    {% if message %}
                                        <li>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });


    function myFunction() {
        var passwordField = document.getElementById("password");
        var togglePassword = document.getElementById("togglePassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePassword.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>`;
        } else {
            passwordField.type = "password";
            togglePassword.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                        </svg>`;
        }
    }

    document.getElementById("togglePassword").addEventListener("click", myFunction);


    function myFunction1() {
        var passwordField = document.getElementById("cpassword");
        var togglePassword = document.getElementById("togglePassword1");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePassword.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>`;
        } else {
            passwordField.type = "password";
            togglePassword.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                        </svg>`;
        }
    }

    document.getElementById("togglePassword1").addEventListener("click", myFunction1);
    // validation

    document.getElementById("login-form").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form submission

        var username = document.getElementById("username").value.trim();
        var password = document.getElementById("password").value.trim();
        var cpassword = document.getElementById("cpassword").value.trim();
        var email = document.getElementById("email").value.trim();
        var contact = document.getElementById("contact").value.trim();
        var designation = document.getElementById("designation").value.trim();
        var Enquiry = document.getElementById("inlineCheckbox1").value.trim();
        var Enrollment = document.getElementById("inlineCheckbox2").value.trim();
        var Attendance = document.getElementById("inlineCheckbox3").value.trim();
        var Staff = document.getElementById("inlineCheckbox4").value.trim();
        var Placement = document.getElementById("inlineCheckbox5").value.trim();
        var Report = document.getElementById("inlineCheckbox6").value.trim();


        let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        let contactCountryCode = /^(\+?\d{1,3}|\d{1,4})$/gm
        let hasError = false;

        // client username Field validation
        if (username === "") {
            document.getElementById("user_error").innerText = "Username Field is required";
            hasError = true;
        } else {
            document.getElementById("user_error").innerText = "";
        }

        // client side email Field validation
        if (email == "") {
            document.getElementById("email_error").innerText = "Email Field is required";
            hasError = true;
        } else if(!/^[a-zA-Z0-9._%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$/.test(email)) {
            document.getElementById("email_error").innerText = "Invalid email address.";
            hasError = true;
        } else {
            document.getElementById("email_error").innerText = "";
        }

        // client side contact Field validation

        // Clear previous error
        document.getElementById("contact_error").innerText = "";

        if (contact == "") {
            document.getElementById("contact_error").innerText = "Contact Field is required";
            hasError = true;
        } else if (!/^\d{10}$/.test(contact)) {
            document.getElementById("contact_error").innerText = "Given input field must be 10 digit";
            hasError = true;
        } else {
            document.getElementById("contact_error").innerText = "";
        }

        // client side designation Field validation
        if (designation == "") {
            document.getElementById("designation_error").innerText = "Designation Field is required";
            hasError = true;
        } else {
            document.getElementById("designation_error").innerText = "";
        }

        // client side designation Field validation

        var enquiry = document.getElementById("inlineCheckbox1").checked;
        var enrollment = document.getElementById("inlineCheckbox2").checked;
        var attendance = document.getElementById("inlineCheckbox3").checked;
        var staff = document.getElementById("inlineCheckbox4").checked;
        var placement = document.getElementById("inlineCheckbox5").checked;
        var report = document.getElementById("inlineCheckbox6").checked;

        if (!enquiry && !enrollment && !attendance && !staff && !placement && !report) {
            document.getElementById("permission_error").innerText = "At least one permission field is required";
            hasError = true;
            
        } else {
            document.getElementById("permission_error").innerText = "";
            
        }

        // client side password Field validation
        if (password === "") {
            document.getElementById("pass_error").innerText = "Password Field is required";
            hasError = true;
        } else {
            document.getElementById("pass_error").innerText = "";
        }

        // client side conform password Field validation
        if (cpassword === "") {
            document.getElementById("cpass_error").innerText = "Conform Password Field is required";
            hasError = true;
        } else if (password !== cpassword) {
            document.getElementById("cpass_error").innerText = "Passwords do not match";
            hasError = true;
        } else {
            document.getElementById("cpass_error").innerText = "";
        }

        // Submit the form if there are no errors
        if (!hasError) {
            document.getElementById("login-form").submit();
        }
    });

    function permission(checkboxId) {
        // Get the checkbox
        console.log("permission function")
        var checkBox = document.getElementById(checkboxId);
        // Get the output text
        // var text = document.getElementById('text_' + checkboxId);

        // If the checkbox is checked, display the output text
        if (checkBox.checked) {
            checkBox.value = true;
        } else {
            checkBox.value = false;
        }
    }

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());
</script>
{% endblock %}