{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}User Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enquiry.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enrollment.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'side_navbar.html' %}

    <div class="col-12 col-lg-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-xll-4 mb-2 px-xll-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3 ps-lg-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">Payment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Payment</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">
                <form id="payment_form" class="pe-lg-2" action="" method="post">
                    <!-- Student details -->
                    <div class="tab-content" id="myTabContent">
                        <div class="row m-0 p-0">
                            {% csrf_token %}

                            <div class="col-12 mt-4 ms-md-2 position-relative">
                                <h5 class="fw-bold st-details">Payment</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                                <span class="message" id="message">
                                    {% for message in messages %}
                                    <div>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                </span>
                            </div>

                            <!-- date field -->
                            <div class="row d-flex justify-content-between pe-0">

                                <!-- Registration Number Field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="registration_no" id="registration_no" value="{{registration_no}}" class="form-control"
                                            aria-label="registration_no" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Registration No <span class="required">*</span> &nbsp;</label>
                                        <span id="registration_no_error" class="error-div">
                                            {% if errors.registration_no %}
                                                {{errors.registration_no}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- student name field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="student_name" id="student_name" value="{{name}}" class="form-control"
                                            aria-label="student_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Student Name <span class="required">*</span> &nbsp;</label>
                                        <span id="student_name_error" class="error-div">
                                            {% if errors.student_name %}
                                                {{errors.student_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Course Name field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="course_name" id="course_name" value="{{course_name}}" class="form-control"
                                            aria-label="course_name" placeholder=" " autocomplete="off" autofocus>
                                        <label for="course_name" class="floating-label float">&nbsp;Course Name <span class="required">*</span> &nbsp;</label>
                                        <span id="course_name_error" class="error-div error-right">
                                            <!-- {% if errors.course_name %}
                                                {{errors.course_name}}
                                            {% endif %} -->
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <select class="form-select select" id="course_name" name="course_name" onchange="handleCourseNameChange()">
                                            <option value="" selected>Select Your Course</option>
                                            {% for course in courses %}
                                            <option value="{{ course.id }}" {% if course_name == course.id %}selected{% endif %}>{{ course.course_name|title }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="course_name" class="floating-label float">&nbsp;Course Name <span class="required">*</span> &nbsp;</label>
                                        <span id="course_name_error" class="error-div error-right">
                                            {% if errors.course_name %}
                                                {{errors.course_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div> -->

                                <!-- Duration -->
                                <div class="col-12 col-md-6 pe-md-0" id="duration_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="duration" value="{{duration}}" id="duration" class="form-control"
                                            aria-label="Duration" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Duration <span class="required">*</span> &nbsp;</label>
                                        <span id="duration_error" class="error-div">
                                            {% if errors.duration %}
                                                    {{errors.duration}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- total fees -->
                                <div class="col-12 col-md-6 p-md-0" id="duration_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="total_fees" value="{{total_fees}}" id="total_fees" class="form-control"
                                            aria-label="Duration" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Total Fees <span class="required">*</span> &nbsp;</label>
                                        <span id="total_fees_error" class="error-div">
                                            {% if errors.duration %}
                                                    {{errors.duration}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Joining Date Field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-4 mt-md-4">
                                        <input type="date" name="joining_date" id="joining_date" value="{{registration_date}}" class="form-control"
                                            aria-label="joining_date" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Joining Date <span class="required">*</span> &nbsp;</label>
                                        <span id="joining_date_error" class="error-div">
                                            {% if errors.joining_date %}
                                                {{errors.joining_date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Fees Type Field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <select name="fees_type" id="fees_type" class="form-select select" onclick="handleFeesTypeChange()">
                                            <option value="" selected>Select Any One</option>
                                            <option value="single payment">Single Payment</option>
                                            <option value="installment">Installment</option>
                                        </select>
                                        <label class="floating-label">&nbsp; Fees Type <span class="required">*</span> &nbsp;</label>
                                        <span id="fees_type_error" class="error-div">
                                            {% if errors.fees_type %}
                                                    {{errors.fees_type}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Payment Mode Field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <select name="payment_mode" id="payment_mode" class="form-select select" onclick="handleCashChange()">
                                            <option value="" selected>Select Any One</option>
                                            <option value="cash">Cash</option>
                                            <option value="upi">UPI</option>
                                            <option value="bank transfer">Bank Transfer</option>
                                        </select>
                                        <label class="floating-label">&nbsp;Payment Mode <span class="required">*</span> &nbsp;</label>
                                        <span id="payment_mode_error" class="error-div">
                                            {% if errors.payment_mode %}
                                                    {{errors.payment_mode}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- installment -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="installment_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <select name="installment" id="installment" class="form-select select">
                                            <option value="" selected>Select Any One</option>
                                            <option value="EMI-1">EMI-1</option>
                                            <option value="EMI-2">EMI-2</option>
                                            <option value="EMI-3">EMI-3</option>
                                            <option value="EMI-4">EMI-4</option>
                                            <option value="EMI-5">EMI-5</option>
                                            <option value="EMI-6">EMI-6</option>
                                        </select>
                                        <label class="floating-label">&nbsp; Installment <span class="required">*</span> &nbsp;</label>
                                        <span id="installment_error" class="error-div">
                                            {% if errors.installment %}
                                                    {{errors.installment}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="row ms-md-2 ps-md-2 pe-md-0">
                                    <div class="col-12 col-md-6 p-md-0" style="display: none;" id="empty_div"></div>
                                    <!-- cash field -->
                                    <div class="col-12 col-md-6 p-md-0" style="display: none;" id="cash_div">
                                        <div class="user-input-wrp ms-4 me-2 mt-4">
                                            <input type="text" name="cash" value="{{cash}}" id="cash" class="form-control"
                                                aria-label="cash" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                            <span id="cash_error" class="error-div">
                                                {% if errors.cash %}
                                                        {{errors.cash}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Upi fields -->

                                <!-- date field -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="upi_date_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="date" name="date" id="upi_date" value="{{upi_date}}" class="form-control"
                                            aria-label="upi_date" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Date <span class="required">*</span> &nbsp;</label>
                                        <span id="upi_date_error" class="error-div">
                                            {% if errors.upi_date %}
                                                {{errors.upi_date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- transaction_id field -->
                                <div class="col-12 col-md-6 pe-md-0" style="display: none;" id="transaction_id_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="transaction_id" value="{{transaction_id}}" id="transaction_id" class="form-control"
                                            aria-label="transaction_id" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter UPI Transaction ID <span class="required">*</span> &nbsp;</label>
                                        <span id="transaction_id_error" class="error-div">
                                            {% if errors.transaction_id %}
                                                    {{errors.transaction_id}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Amount field -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="amount_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="cash" value="{{cash}}" id="amount" class="form-control"
                                            aria-label="amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="amount_error" class="error-div">
                                            {% if errors.cash %}
                                                    {{errors.cash}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Account / Bank Name -->
                                <div class="col-12 col-md-6 pe-md-0" style="display: none;" id="bank_name_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="bank_name" value="{{bank_name}}" id="bank_name" class="form-control"
                                            aria-label="bank_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Account / Bank Name <span class="required">*</span> &nbsp;</label>
                                        <span id="bank_name_error" class="error-div">
                                            {% if errors.amount %}
                                                    {{errors.amount}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- App Name -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="app_name_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="app_name" value="{{app_name}}" id="app_name" class="form-control"
                                            aria-label="app_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter App Name <span class="required">*</span> &nbsp;</label>
                                        <span id="app_name_error" class="error-div">
                                            {% if errors.app_name %}
                                                    {{errors.app_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- Bank Transfer fields -->

                                <!-- date field -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="bank_date_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="date" name="date" id="bank_date" value="{{date}}" class="form-control"
                                            aria-label="bank_date" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Date <span class="required">*</span> &nbsp;</label>
                                        <span id="bank_date_error" class="error-div">
                                            {% if errors.date %}
                                                {{errors.date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Account Number field -->
                                <div class="col-12 col-md-6 pe-md-0" style="display: none;" id="account_no_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="account_no" value="{{account_no}}" id="account_no" class="form-control"
                                            aria-label="account_no" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Account Number <span class="required">*</span> &nbsp;</label>
                                        <span id="account_no_error" class="error-div">
                                            {% if errors.account_no %}
                                                    {{errors.account_no}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- IFSC Code field -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="ifsc_code_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="ifsc_code" value="{{ifsc_code}}" id="ifsc_code" class="form-control"
                                            aria-label="ifsc_code" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;IFSC Code <span class="required">*</span> &nbsp;</label>
                                        <span id="ifsc_code_error" class="error-div">
                                            {% if errors.ifsc_code %}
                                                    {{errors.ifsc_code}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- Branch Name field -->
                                <div class="col-12 col-md-6 pe-md-0" style="display: none;" id="branch_name_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="branch_name" value="{{branch_name}}" id="branch_name" class="form-control"
                                            aria-label="branch_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Branch Name <span class="required">*</span> &nbsp;</label>
                                        <span id="branch_name_error" class="error-div">
                                            {% if errors.branch_name %}
                                                    {{errors.branch_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- Account Holder Name field -->
                                <div class="col-12 col-md-6 p-md-0" style="display: none;" id="account_holder_name_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="account_holder_name" value="{{account_holder_name}}" id="account_holder_name" class="form-control"
                                            aria-label="account_holder_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Account Holder Name <span class="required">*</span> &nbsp;</label>
                                        <span id="account_holder_name_error" class="error-div">
                                            {% if errors.account_holder_name %}
                                                    {{errors.account_holder_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Amount field -->
                                <div class="col-12 col-md-6 pe-md-0" style="display: none;" id="bank_amount_div">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="cash" value="{{cash}}" id="bank_amount" class="form-control"
                                            aria-label="amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="bank_amount_error" class="error-div">
                                            {% if errors.cash %}
                                                    {{errors.cash}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                    </div>
                                    <div class="col-6 d-flex justify-content-lg-end ps-lg-4 p-0 ps-4 gap-5">
                                        <input type="reset" value="Cancel" class="btn login-btn">
                                        <input type="submit" value="submit" class="btn login-btn">
                                    </div>
                                </div>
                            </div>
                        
                            <span>
                                {% if error_messages %}
                                <div class="errors-common">
                                    <ul class="ul-errors">
                                        {% for field, message in error_messages.items %}
                                            {% if message %}
                                                <li>{{ message }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>

document.addEventListener('DOMContentLoaded', function() {
    const registrationNoField = document.getElementById('registration_no');
    
    registrationNoField.addEventListener('change', function() {
        const registration_no = this.value;
        if (registration_no) {
            fetch(`/get-enrollment-details/?registration_no=${encodeURIComponent(registration_no)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        clearFields();
                    } else {
                        populateFields(data);
                    }
                })
                .catch(error => {
                    // alert('Error fetching enquiry details.');
                    console.error('There was a problem with the fetch operation:', error);
                    window.location.reload()
                });
        }
    });
    
    function populateFields(data) {
        document.getElementById('student_name').value = data.student_name || '';
        document.getElementById('course_name').value = data.course_name || '';
        document.getElementById('duration').value = data.duration || '';
        document.getElementById('joining_date').value = data.joining_date || '';
    }
    
    function clearFields() {
        document.getElementById('student_name').value = '';
        document.getElementById('course_name').value = '';
        document.getElementById('duration').value = '';
        document.getElementById('joining_date').value = '';
    }
});

    // dropdown functionality
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });
    

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());

    
    function handleCourseNameChange() {
        const courseNameElement = document.getElementById('course_name');
        const courseName = courseNameElement.options[courseNameElement.selectedIndex].text.trim().toLowerCase();

        const technologyDiv = document.getElementById('technology_div');
        const daysDiv = document.getElementById('no_of_days_div');
        const studentsDiv = document.getElementById('no_of_students_div');
        const internshipDiv = document.getElementById('internship_technology_div');
        const internshipDaysDiv = document.getElementById('internship_no_of_days_div');
        const internshipStudentsDiv = document.getElementById('internship_no_of_students_div');
        const duration_div = document.getElementById('duration_div');

        const technologyInput = document.getElementById('technology');
        const daysInput = document.getElementById('inplant_no_of_days');
        const studentsInput = document.getElementById('inplant_no_of_students');
        const internshipInput = document.getElementById('internship_technology');
        const internshipDaysInput = document.getElementById('internship_no_of_days');
        const internshipStudentsInput = document.getElementById('internship_no_of_students');

        // Hide all fields initially and remove required attributes
        technologyDiv.style.display = 'none';
        technologyInput.removeAttribute('required');

        daysDiv.style.display = 'none';
        daysInput.removeAttribute('required');

        studentsDiv.style.display = 'none';
        studentsInput.removeAttribute('required');

        internshipDiv.style.display = 'none';
        internshipInput.removeAttribute('required');

        internshipDaysDiv.style.display = 'none';
        internshipDaysInput.removeAttribute('required');

        internshipStudentsDiv.style.display = 'none';
        internshipStudentsInput.removeAttribute('required');
        
        duration_div.style.display = 'block';
        
        // Show relevant fields and add required attributes
        if (courseName === 'inplant training') {
            technologyDiv.style.display = 'block';

            daysDiv.style.display = 'block';

            studentsDiv.style.display = 'block';

            duration_div.style.display = 'none';

        } else if (courseName === 'internship training') {
            internshipDiv.style.display = 'block';

            internshipDaysDiv.style.display = 'block';

            internshipStudentsDiv.style.display = 'block';

            duration_div.style.display = 'none';
        }
    }

    // Ensure the function runs on DOMContentLoaded
    document.addEventListener('DOMContentLoaded', () => handleCourseNameChange());

    function handleFeesTypeChange() {

        // Check if the "Yes" radio button is selected
        let fees_type = document.getElementById('fees_type');
        let fees_type_value = fees_type.value;
        let installment_div = document.getElementById('installment_div');

        console.log("Fees Type : ", fees_type_value);

        clearErrors(); // Clear previous error messages

        // Show or hide fields based on the selection
        let displayStyle = fees_type_value === "installment" ? 'block' : 'none';

        installment_div.style.display = displayStyle;
    }
    
    // handel Payment Mode
    function handleCashChange() {

        // Check if the "Yes" radio button is selected
        let payment_mode = document.getElementById('payment_mode');
        let payment_mode_value = payment_mode.value;
        // cash
        let cash_div = document.getElementById('cash_div');
        let empty_div = document.getElementById('empty_div');
        // upi
        let upi_date_div = document.getElementById('upi_date_div');
        let transaction_id_div = document.getElementById('transaction_id_div');
        let amount_div = document.getElementById('amount_div');
        let bank_name_div = document.getElementById('bank_name_div');
        let app_name_div = document.getElementById('app_name_div');
        // bank transfer
        let bank_date_div = document.getElementById('bank_date_div');
        let account_no_div = document.getElementById('account_no_div');
        let ifsc_code_div = document.getElementById('ifsc_code_div');
        let branch_name_div = document.getElementById('branch_name_div');
        let account_holder_name_div = document.getElementById('account_holder_name_div');
        let bank_amount_div = document.getElementById('bank_amount_div');


        console.log("Cash Value : ", payment_mode_value);

        clearErrors(); // Clear previous error messages

        // Show or hide fields based on the selection
        let displayStyle = payment_mode_value === "cash" ? 'block' : 'none';
        let displayStyleUpi = payment_mode_value === "upi" ? 'block' : 'none';
        let displayStyleBank = payment_mode_value === "bank transfer" ? 'block' : 'none';

        cash_div.style.display = displayStyle;
        empty_div.style.display = displayStyle;

        upi_date_div.style.display = displayStyleUpi;
        transaction_id_div.style.display = displayStyleUpi;
        amount_div.style.display = displayStyleUpi;
        bank_name_div.style.display = displayStyleUpi;
        app_name_div.style.display = displayStyleUpi;
        
        bank_date_div.style.display = displayStyleBank;
        account_no_div.style.display = displayStyleBank;
        ifsc_code_div.style.display = displayStyleBank;
        branch_name_div.style.display = displayStyleBank;
        account_holder_name_div.style.display = displayStyleBank;
        bank_amount_div.style.display = displayStyleBank;

    }

    document.getElementById('payment_form').addEventListener('submit', function(event) {
        event.preventDefault();
        let hasError = false;

        let registration_no = document.getElementById("registration_no").value.trim();
        let student_name = document.getElementById("student_name").value.trim();
        let course_name = document.getElementById('course_name').value.trim();
        let duration = document.getElementById('duration').value.trim();
        let total_fees = document.getElementById('total_fees').value.trim();
        let joining_date = document.getElementById("joining_date").value.trim();
        let fees_type = document.getElementById('fees_type').value.trim();
        let payment_mode = document.getElementById('payment_mode').value.trim();
        let installment = document.getElementById('installment').value.trim();
        
        let cash = document.getElementById('cash').value.trim();
        
        let upi_date = document.getElementById('upi_date').value.trim();
        let transaction_id = document.getElementById('transaction_id').value.trim();
        let bank_name = document.getElementById('bank_name').value.trim();
        let app_name = document.getElementById('app_name').value.trim();
        let amount = document.getElementById('amount').value.trim();
        
        let bank_date = document.getElementById('bank_date').value.trim();
        let account_no = document.getElementById('account_no').value.trim();
        let ifsc_code = document.getElementById('ifsc_code').value.trim();
        let branch_name = document.getElementById('branch_name').value.trim();
        let account_holder_name = document.getElementById('account_holder_name').value.trim();
        let bank_amount = document.getElementById('bank_amount').value.trim();
        
        console.log("Course Name : ", course_name)

        // Additional field validations
        if (validateFields(registration_no, "registration_no_error")) hasError = true;
        if (validateFields(student_name, "student_name_error")) hasError = true;
        if (validateFields(course_name, "course_name_error")) hasError = true;
        if (validateFields(duration, "duration_error")) hasError = true;
        if (validateFields(total_fees, "total_fees_error")) hasError = true;
        if (validateFields(joining_date, "joining_date_error")) hasError = true;
        if (validateFields(fees_type, "fees_type_error")) hasError = true;
        if (validateFields(payment_mode, "payment_mode_error")) hasError = true;
        
        if(payment_mode === "cash") {
            console.log("display")
            if (validateFields(cash, "cash_error")) hasError = true;
        }

        if(payment_mode === 'upi') {
            console.log("upi")
            if (validateFields(upi_date, "upi_date_error")) hasError = true;
            if (validateFields(transaction_id, "transaction_id_error")) hasError = true;
            if (validateFields(amount, "amount_error")) hasError = true;
            if (validateFields(bank_name, "bank_name_error")) hasError = true;
            if (validateFields(app_name, "app_name_error")) hasError = true;
        }
        
        if(payment_mode === 'bank transfer') {
            console.log("bank transfer")
            if (validateFields(bank_date, "bank_date_error")) hasError = true;
            if (validateFields(account_no, "account_no_error")) hasError = true;
            if (validateFields(ifsc_code, "ifsc_code_error")) hasError = true;
            if (validateFields(branch_name, "branch_name_error")) hasError = true;
            if (validateFields(account_holder_name, "account_holder_name_error")) hasError = true;
            if (validateFields(bank_amount, "bank_amount_error")) hasError = true;
        }

        console.log("Has Error:", hasError);

        if (!hasError) {
            document.getElementById("payment_form").submit();
        }
    });

    function validateFields(inputValue, errorElementId) {
        const errorElement = document.getElementById(errorElementId);
        if (!errorElement) return false; // Ensure error element exists

        if (inputValue === '') {
            errorElement.innerText = "This Field is required.";
            return true;
        } else {
            errorElement.innerText = "";
            return false;
        }
    }

    function validateField(inputElement, errorElementId) {
        const errorElement = document.getElementById(errorElementId);
        if (!inputElement || !errorElement) {
            return; // Ensure elements exist
        }

        if (inputElement.value.trim() === '') {
            // If the field is empty, display an error message
            errorElement.innerText = "This field can't be empty";
            errorElement.innerText = "";
            inputElement.required = true;
        } else {
            // If the field has a value, clear the error message
            errorElement.innerText = "";
            inputElement.required = false;
        }
    }

    function clearErrors() {
        const errorElements = document.querySelectorAll('.error-div');
        errorElements.forEach(element => {
            element.innerText = "";
        });
    }
</script>
{% endblock %}