{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Payment Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enquiry.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enrollment.css' %}">
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'side_navbar.html' %}

    <div class="col-12 col-lg-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-xll-4 mb-2 px-xll-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3 ps-lg-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">Payment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Payment</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">
                <form id="payment_form" class="pe-lg-2" action="" method="post">
                    <!-- Student details -->
                    <div class="tab-content" id="myTabContent">
                        <div class="row m-0 p-0">
                            {% csrf_token %}

                            <div class="col-12 mt-4 ms-md-2 position-relative">
                                <h5 class="fw-bold st-details">Payment</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                                <span class="message" id="message">
                                    {% for message in messages %}
                                    <div>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                </span>
                            </div>

                            <!-- date field -->
                            <div class="row d-flex justify-content-between pe-0">

                                <!-- Registration Number Field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="registration_no" id="registration_no" value="{{registration_no}}" class="form-control"
                                            aria-label="registration_no" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Registration No <span class="required">*</span> &nbsp;</label>
                                        <span id="registration_no_error" class="error-div">
                                            {% if errors.registration_no %}
                                                {{errors.registration_no}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Joining Date Field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-4 mt-md-4">
                                        <input type="date" name="joining_date" id="joining_date" value="{{registration_date}}" class="form-control bg-white"
                                            aria-label="joining_date" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Joining Date <span class="required">*</span> &nbsp;</label>
                                        <span id="joining_date_error" class="error-div">
                                            {% if errors.joining_date %}
                                                {{errors.joining_date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- student name field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="student_name" id="student_name" value="{{name}}" class="form-control"
                                            aria-label="student_name" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Student Name <span class="required">*</span> &nbsp;</label>
                                        <span id="student_name_error" class="error-div">
                                            {% if errors.student_name %}
                                                {{errors.student_name}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Course Name field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-4 mt-md-4">
                                        <input type="text" name="course_name" id="course_name" value="{{course_name}}" class="form-control"
                                            aria-label="course_name" placeholder=" " autocomplete="off" autofocus>
                                        <label for="course_name" class="floating-label float">&nbsp;Course Name <span class="required">*</span> &nbsp;</label>
                                        <span id="course_name_error" class="error-div error-right">
                                            <!-- {% if errors.course_name %}
                                                {{errors.course_name}}
                                            {% endif %} -->
                                        </span>
                                    </div>
                                </div>

                                <!-- Duration -->
                                <div class="col-12 col-md-6 p-md-0" id="duration_div">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="duration" value="{{duration}}" id="duration" class="form-control"
                                            aria-label="Duration" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Duration <span class="required">*</span> &nbsp;</label>
                                        <span id="duration_error" class="error-div">
                                            {% if errors.duration %}
                                                    {{errors.duration}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Fees Type Field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-4 mt-md-4">
                                        <select name="fees_type" id="fees_type" class="form-select select" onclick="payment_type()">
                                            <option value="" selected>Select Any One</option>
                                            <option value="Regular">Single Payment</option>
                                            <option value="Installment">Installment</option>
                                        </select>
                                        <label class="floating-label">&nbsp; Fees Type <span class="required">*</span> &nbsp;</label>
                                        <span id="fees_type_error" class="error-div">
                                            {% if errors.fees_type %}
                                                    {{errors.fees_type}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Payment Mode Field -->
                                <div class="col-12 col-md-6 p-md-0">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <select name="payment_mode" id="payment_mode" class="form-select select" onchange="handleCashChange()">
                                            <option value="" selected>Select Any One</option>
                                            <option value="Cash">Cash</option>
                                            <option value="UPI">UPI</option>
                                            <option value="Bank Transfer">Bank Transfer</option>
                                        </select>
                                        <label class="floating-label">&nbsp;Payment Mode <span class="required">*</span> &nbsp;</label>
                                        <span id="payment_mode_error" class="error-div">
                                            {% if errors.payment_mode %}
                                                    {{errors.payment_mode}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <!-- single payment -->
                                <!-- Payment date -->
                                <div class="col-12 col-md-6 pe-md-0" id="payment_date_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="date" name="date" id="date-picker" value="{{date}}" class="form-control bg-white"
                                            aria-label="date" placeholder=" " autocomplete="off" autofocus onclick="setDatePickerLimits()">
                                        <label class="floating-label">&nbsp;Payment Date <span class="required">*</span> &nbsp;</label>
                                        <span id="date_error" class="error-div">
                                            {% if errors.date %}
                                                {{errors.date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            
                                <!-- installment -->
                                <!-- emi -->
                                <div class="col-12 col-md-6 pe-md-0" id="emi_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <select name="emi" id="emi" class="form-select select">
                                            {% if next_emi %}
                                                <option value="{{ next_emi }}" selected>{{ next_emi }}</option>
                                            {% endif %}
                                        </select>
                                        <label class="floating-label">&nbsp; Enter EMI <span class="required">*</span> &nbsp;</label>
                                        <span id="emi_error" class="error-div">
                                            {% if errors.emi %}
                                                {{ errors.emi }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- installment -->
                                <!-- EMI date -->
                                <div class="col-12 col-md-6 p-md-0" id="emi_date_div" style="display: none;">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="date" name="date" id="installment_date" value="{{ date }}" class="form-control bg-white"
                                            aria-label="date" placeholder=" " autocomplete="off" autofocus onclick="setDatePickerLimits()">
                                        <label class="floating-label">&nbsp;EMI Date <span class="required">*</span> &nbsp;</label>
                                        <span id="date_error" class="error-div">
                                            {% if errors.date %}
                                                {{ errors.date }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            
                                <!-- UPI Fields -->
                                <div class="col-12 col-md-6 pe-md-0" id="transaction_id_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="upi_transaction_id" id="transaction_id" class="form-control" aria-label="transaction_id" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Enter UPI Transaction ID <span class="required">*</span></label>
                                        <span id="transaction_id_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 p-md-0" id="app_name_div" style="display: none;">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="upi_app_name" id="app_name" class="form-control" aria-label="app_name" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Enter App Name <span class="required">*</span></label>
                                        <span id="app_name_error" class="error-div"></span>
                                    </div>
                                </div>

                                <!-- Bank Transfer Fields -->
                                <div class="col-12 col-md-6 pe-md-0" id="refference_no_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="refference_no" id="refference_no" class="form-control" aria-label="account_no" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Refference Number <span class="required">*</span></label>
                                        <span id="refference_no_error" class="error-div"></span>
                                    </div>
                                </div>
                                
                                <!-- total fees -->
                                <div class="col-12 col-md-6 pe-md-0" id="duration_div">
                                    <div class="user-input-wrp ms-4 mt-md-4">
                                        <input type="text" name="total_fees" value="{{total_fees}}" id="total_fees" class="form-control"
                                            aria-label="total_fees" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Total Fees <span class="required">*</span> &nbsp;</label>
                                        <span id="total_fees_error" class="error-div">
                                            {% if errors.total_fees %}
                                                    {{errors.total_fees}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- EMI AMount -->
                                <div class="col-12 col-md-6 p-md-0" id="installment_amount_div" style="display: none;">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="installment_amount" value="{{installment_amount}}" id="installment_amount" class="form-control"
                                            aria-label="installment_amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Installment Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="installment_amount_error" class="error-div">
                                            {% if errors.installment_amount %}
                                                    {{errors.installment_amount}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Fees Type Field -->
                                <div class="col-12 col-md-6 pe-md-0" id="fees_type_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <select name="montly_payment_type" id="montly_payment_type" class="form-select select">
                                            <option value="" selected>Select Any One</option>
                                            <option value="partial payment">partial payment</option>
                                            <option value="Full payment">Full payment</option>
                                        </select>
                                        <label class="floating-label">&nbsp; Monthly Installment Payment Type <span class="required">*</span> &nbsp;</label>
                                        <span id="montly_payment_type_error" class="error-div">
                                            {% if errors.montly_payment_type %}
                                                    {{errors.montly_payment_type}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- single payment -->
                                <!-- amount field -->
                                <div class="col-12 col-md-6 pe-md-0" id="amount_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="amount" value="{{payment_info.total_fees}}" id="amount" class="form-control"
                                            aria-label="amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="amount_error" class="error-div">
                                            {% if errors.amount %}
                                                    {{errors.amount}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- installment -->
                                <!-- amount field -->
                                <div class="col-12 col-md-6 p-md-0" id="insta_amount_div" style="display: none;">
                                    <div class="user-input-wrp ms-4 me-2 mt-4">
                                        <input type="text" name="amount" value="{{amount}}" id="insta_amount" class="form-control"
                                            aria-label="amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="insta_amount_error" class="error-div">
                                            {% if errors.amount %}
                                                    {{errors.amount}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                    </div>
                                    <div class="col-6 d-flex justify-content-lg-end ps-lg-4 p-0 ps-4 gap-5">
                                        <input type="reset" value="Cancel" class="btn login-btn">
                                        <input type="submit" value="submit" class="btn login-btn">
                                    </div>
                                </div>
                            </div>
                        
                            <span>
                                {% if error_messages %}
                                <div class="errors-common">
                                    <ul class="ul-errors">
                                        {% for field, message in error_messages.items %}
                                            {% if message %}
                                                <li>{{ message }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<!-- Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const registrationNoField = document.getElementById('registration_no');
    
    registrationNoField.addEventListener('change', function() {
        const registration_no = this.value;
        if (registration_no) {
            fetch(`/get-enrollment-details/?registration_no=${encodeURIComponent(registration_no)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        clearFields();
                    } else {
                        populateFields(data);
                    }
                })
                .catch(error => {
                    // alert('Error fetching enquiry details.');
                    console.error('There was a problem with the fetch operation:', error);
                    window.location.reload()
                });
        }
    });
    
    function populateFields(data) {
        document.getElementById('student_name').value = data.student_name || '';
        document.getElementById('course_name').value = data.course_name || '';

        console.log(data.course_name)

        if(data.course_name === "inplant training"){
            document.getElementById('duration').value = data.inplant_no_of_days || '';
        } else if(data.course_name === "internship training") {
            document.getElementById('duration').value = data.internship_no_of_days || '';
        }else {
            document.getElementById('duration').value = data.duration || '';
        }
        document.getElementById('joining_date')._flatpickr.setDate(data.joining_date ? new Date(data.joining_date) : null);
        document.getElementById('total_fees').value = data.total_fees || '';
        document.getElementById('installment_amount').value = data.installment_amount || '';
        document.getElementById('fees_type').value = data.payment_type || '';
    }
    
    function clearFields() {
        document.getElementById('student_name').value = '';
        document.getElementById('course_name').value = '';
        document.getElementById('duration').value = '';
        document.getElementById('inplant_no_of_days').value = '';
        document.getElementById('internship_no_of_days').value = '';
        document.getElementById('joining_date').value = '';
        document.getElementById('total_fees').value = '';
        document.getElementById('fees_type').value = '';
    }
});

    // dropdown functionality
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });
    

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());

    function handleFeesTypeChange() {

        // Check if the "Yes" radio button is selected
        let fees_type = document.getElementById('fees_type');
        let fees_type_value = fees_type.value;
        let installment_div = document.getElementById('installment_div');

        console.log("Fees Type : ", fees_type_value);

        clearErrors(); // Clear previous error messages

        // Show or hide fields based on the selection
        let displayStyle = fees_type_value === "installment" ? 'block' : 'none';

        installment_div.style.display = displayStyle;
    }
    
    document.getElementById("payment_form").addEventListener("submit", function(event) {
        // Prevent form submission initially
        event.preventDefault();

        // Clear any existing error messages
        clearErrors();

        // Get form field values
        let registrationNo = document.getElementById("registration_no").value.trim();
        let studentName = document.getElementById("student_name").value.trim();
        let courseName = document.getElementById("course_name").value.trim();
        let duration = document.getElementById("duration").value.trim();
        let totalFees = document.getElementById("total_fees").value.trim();
        let joiningDate = document.getElementById("joining_date").value.trim();
        let feesType = document.getElementById("fees_type").value;
        let payment_mode = document.getElementById("payment_mode").value;

        let transaction_id = document.getElementById("transaction_id").value;
        let app_name = document.getElementById("app_name").value;
        let transaction_id_div = document.getElementById("transaction_id_div");
        let app_name_div = document.getElementById("app_name_div");

        let refference_no = document.getElementById("refference_no").value;
        let refference_no_div = document.getElementById("refference_no_div");
        
        // single payment fields
        let amount = document.getElementById("amount").value;
        let amount_div = document.getElementById("amount_div");
        let single_payment_date = document.getElementById("date-picker").value;
        let payment_date_div = document.getElementById("payment_date_div");
        
        // installment fields
        let installment_date = document.getElementById("installment_date").value;
        let emi_date_div = document.getElementById("emi_date_div");
        let montly_payment_type = document.getElementById("montly_payment_type").value;
        let fees_type_div = document.getElementById("fees_type_div");
        let installment_amount = document.getElementById("installment_amount").value;
        let installment_amount_div = document.getElementById("installment_amount_div");
        let insta_amount = document.getElementById("insta_amount").value;
        let insta_amount_div = document.getElementById("insta_amount_div");

        let isValid = true;

        // Validate Registration Number
        if (!registrationNo) {
            showError("registration_no_error", "Registration No Field is required");
            isValid = false;
        }

        // Validate Student Name
        if (!studentName) {
            showError("student_name_error", "Student Name Field is required");
            isValid = false;
        }

        // Validate Course Name
        if (!courseName) {
            showError("course_name_error", "Course Name Field is required");
            isValid = false;
        }

        // Validate Duration
        if (!duration) {
            showError("duration_error", "Duration Field is required");
            isValid = false;
        }

        // Validate Total Fees
        if (!totalFees) {
            showError("total_fees_error", "Total Fees Field is required");
            isValid = false;
        }

        // Validate Joining Date
        if (!joiningDate) {
            showError("joining_date_error", "Joining Date Field is required");
            isValid = false;
        }

        // Validate Fees Type
        if (!feesType) {
            showError("fees_type_error", "Fees Type Field is required");
            isValid = false;
        }
        
        // Validate Payment Mode
        if (!payment_mode) {
            showError("payment_mode_error", "Payment Mode Field is required");
            isValid = false;
        }

        // Upi field validation
        if (payment_mode === 'UPI') {
            if(transaction_id_div.style.display === 'block'){
                if(!transaction_id) {
                    showError("transaction_id_error", "Transaction Id Field is required");
                    isValid = false;
                }
            }
            if(app_name_div.style.display === 'block'){
                if(!app_name) {
                    showError("app_name_error", "App Name Field is required");
                    isValid = false;
                }
            }
        }
        
        // Bank transfer field validation
        if (payment_mode === 'Bank Transfer') {
            if(refference_no_div.style.display === 'block'){
                if(!refference_no) {
                    showError("refference_no_error", "Refference Number Field is required");
                    isValid = false;
                }
            }
        }

        // fees type field validation
        if (feesType === 'Regular') {
            if(amount_div.style.display === 'block'){
                if(!amount) {
                    showError("amount_error", "Amount Field is required");
                    isValid = false;
                }
            }
            if(payment_date_div.style.display === 'block'){
                if(!single_payment_date) {
                    showError("date_error", "Amount Field is required");
                    isValid = false;
                }
            }
        }

        // Installment field validation
        if (feesType === 'Installment') {
            console.log("Installment")
            if(emi_date_div.style.display === 'block'){
                if(!installment_date) {
                    console.log("installment Date")
                    showError("date_error", "Installment Date Field is required");
                    isValid = false;
                }
            }
            if(fees_type_div.style.display === 'block'){
                if(!montly_payment_type) {
                    console.log("montly_payment_type")
                    showError("montly_payment_type_error", "Montly Payment Type Field is required");
                    isValid = false;
                }
            }
            if(installment_amount_div.style.display === 'block'){
                if(!installment_amount) {
                    console.log("installment_amount")
                    showError("installment_amount_error", "Amount Field is required");
                    isValid = false;
                }
            }
            if(insta_amount_div.style.display === 'block'){
                if(!insta_amount) {
                    showError("insta_amount_error", "Amount Field is required");
                    isValid = false;
                }
            }
        }



        // If all validations pass, submit the form
        if (isValid) {
            document.getElementById("payment_form").submit();
        }
    });

    // Function to show error messages
    function showError(elementId, message) {
        let errorElement = document.getElementById(elementId);
        errorElement.innerText = message;
        errorElement.classList.add("visible");
    }

    // Function to clear all error messages
    function clearErrors() {
        let errorElements = document.getElementsByClassName("error-div");
        for (let i = 0; i < errorElements.length; i++) {
            errorElements[i].innerText = "";
            errorElements[i].classList.remove("visible");
        }
    }

    function payment_type() {
        const feesType = document.getElementById("fees_type").value;
        const paymentDateDiv = document.getElementById("payment_date_div");
        const amountDiv = document.getElementById("amount_div");
        const installment_amount_div = document.getElementById("installment_amount_div");
        const installment_div = document.getElementById("installment_div");
        const emi_date_div = document.getElementById("emi_date_div");
        const emi_div = document.getElementById("emi_div");
        const fees_type_div = document.getElementById("fees_type_div");
        const insta_amount_div = document.getElementById("insta_amount_div");

        if (feesType === "Regular") {
            paymentDateDiv.style.display = "block";
            amountDiv.style.display = "block";
        } else {
            paymentDateDiv.style.display = "none";
            amountDiv.style.display = "none";
        }

        if(feesType === "Installment"){
            installment_amount_div.style.display = "block";
            insta_amount_div.style.display = "block";
            emi_div.style.display = "block";
            fees_type_div.style.display = "block";
            emi_date_div.style.display = "block";
            fees_type_div.style.display = "block";
        } else {
            installment_amount_div.style.display = "none";
            insta_amount_div.style.display = "none";
            emi_div.style.display = "none";
            fees_type_div.style.display = "none";
            emi_date_div.style.display = "none";
            fees_type_div.style.display = "none";
        }
    }

    function handleCashChange() {
        const payment_mode = document.getElementById("payment_mode").value;
        const transaction_id_div = document.getElementById("transaction_id_div");
        const app_name_div = document.getElementById("app_name_div");
        const refference_no_div = document.getElementById("refference_no_div");

        if (payment_mode === "UPI") {
            transaction_id_div.style.display = "block";
            app_name_div.style.display = "block";
        } else {
            transaction_id_div.style.display = "none";
            app_name_div.style.display = "none";
        }
        
        if (payment_mode === "Bank Transfer") {
            refference_no_div.style.display = "block";
        } else {
            refference_no_div.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const registrationDate = "{{ enrollment.registration_date|date:'d-m-Y' }}";
        console.log("flatpickr ", registrationDate)
        flatpickr("#joining_date", {
            dateFormat: "d-m-Y", // Customize the format to "DD-MM-YYYY"
            defaultDate: registrationDate ? new Date(registrationDate) : null,
        });

        flatpickr("#installment_date", {
            dateFormat: "d-m-Y", // Customize the format to "DD-MM-YYYY"
            minDate: "today",
            defaultDate: "today" // Optional: set default date
        });
    });

</script>
{% endblock %}