<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Payment List</h1>
    <table>
        <thead>
            <tr>
                <th>Registration No</th>
                <th>Joining Date</th>
                <th>Student Name</th>
                <th>Course Name</th>
                <th>Course Duration</th>
                <th>Fees Type</th>
                <th>Total Fees</th>
                <th>Balance Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payment_list %}
            <tr>
                <td>{{ payment.registration_no }}</td>
                <td>{{ payment.joining_date|date:'Y-m-d' }}</td>
                <td>{{ payment.student_name }}</td>
                <td>{{ payment.course_name }}</td>
                <td>{{ payment.duration }}</td>
                <td>{{ payment.fees_type }}</td>
                <td>{{ payment.total_fees }}</td>
                <td>{{ payment.balance }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
