{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Payment Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enquiry.css' %}">
<link rel="stylesheet" href="{% static '/css/new_enrollment.css' %}">
<link rel="stylesheet" href="{% static '/css/manage_payment.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'side_navbar.html' %}

    <div class="col-12 col-lg-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-xll-4 mb-2 px-xll-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3 ps-lg-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">Payment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Payment</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">
                <form id="payment_form" class="pe-lg-2" action="" method="post">
                    <!-- Student details -->
                    <div class="tab-content" id="myTabContent">
                        <div class="row m-0 p-0">
                            {% csrf_token %}

                            <div class="col-12 mt-4 ms-md-2 position-relative">
                                <h5 class="fw-bold st-details">Single Payment</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                                <span class="message" id="message">
                                    {% for message in messages %}
                                    <div>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                </span>
                            </div>

                            <!-- date field -->
                            <div class="row d-flex justify-content-between pe-0">

                                <!-- PaymentInfo field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="payment_info" value="{{payment_info.id}}" id="payment_info" class="form-control"
                                            aria-label="payment_info" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Payment Info ID <span class="required">*</span> &nbsp;</label>
                                        <span id="payment_info_error" class="error-div">
                                            {% if errors.payment_info %}
                                                    {{errors.payment_info}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Payment Mode Field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <select name="payment_mode" id="payment_mode" class="form-select select" onchange="handleCashChange()">
                                            <option value="" selected>Select Any One</option>
                                            <option value="Cash">Cash</option>
                                            <option value="UPI">UPI</option>
                                            <option value="Bank Transfer">Bank Transfer</option>
                                        </select>
                                        <label class="floating-label">&nbsp;Payment Mode <span class="required">*</span> &nbsp;</label>
                                        <span id="payment_mode_error" class="error-div">
                                            {% if errors.payment_mode %}
                                                    {{errors.payment_mode}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- Payment date -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="date" name="date" id="date-picker" value="{{date}}" class="form-control"
                                            aria-label="date" placeholder=" " autocomplete="off" autofocus onclick="setDatePickerLimits()">
                                        <label class="floating-label">&nbsp;Payment Date <span class="required">*</span> &nbsp;</label>
                                        <span id="date_error" class="error-div">
                                            {% if errors.date %}
                                                {{errors.date}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- amount field -->
                                <div class="col-12 col-md-6 pe-md-0">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="amount" value="{{payment_info.total_fees}}" id="amount" class="form-control"
                                            aria-label="amount" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Enter Amount <span class="required">*</span> &nbsp;</label>
                                        <span id="amount_error" class="error-div">
                                            {% if errors.amount %}
                                                    {{errors.amount}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <!-- UPI Fields -->
                                <div class="col-12 col-md-6 pe-md-0" id="transaction_id_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="upi_transaction_id" id="transaction_id" class="form-control" aria-label="transaction_id" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Enter UPI Transaction ID <span class="required">*</span></label>
                                        <span id="transaction_id_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 pe-md-0" id="bank_name_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="upi_bank_name" id="bank_name" class="form-control" aria-label="bank_name" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Account / Bank Name <span class="required">*</span></label>
                                        <span id="bank_name_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 pe-md-0" id="app_name_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="upi_app_name" id="app_name" class="form-control" aria-label="app_name" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Enter App Name <span class="required">*</span></label>
                                        <span id="app_name_error" class="error-div"></span>
                                    </div>
                                </div>

                                <!-- Bank Transfer Fields -->
                                <div class="col-12 col-md-6 pe-md-0" id="account_no_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="bank_account_no" id="account_no" class="form-control" aria-label="account_no" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Account Number <span class="required">*</span></label>
                                        <span id="account_no_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 pe-md-0" id="ifsc_code_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="bank_ifsc_code" id="ifsc_code" class="form-control" aria-label="ifsc_code" placeholder=" " autocomplete="off">
                                        <label class="floating-label">IFSC Code <span class="required">*</span></label>
                                        <span id="ifsc_code_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 pe-md-0" id="branch_name_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="bank_branch_name" id="branch_name" class="form-control" aria-label="branch_name" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Branch Name <span class="required">*</span></label>
                                        <span id="branch_name_error" class="error-div"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 pe-md-0" id="account_holder_name_div" style="display: none;">
                                    <div class="user-input-wrp ms-md-4 mt-md-4">
                                        <input type="text" name="bank_account_holder_name" id="account_holder_name" class="form-control" aria-label="account_holder_name" placeholder=" " autocomplete="off">
                                        <label class="floating-label">Account Holder Name <span class="required">*</span></label>
                                        <span id="account_holder_name_error" class="error-div"></span>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                    </div>
                                    <div class="col-6 d-flex justify-content-lg-end ps-lg-4 p-0 ps-4 gap-5">
                                        <input type="reset" value="Cancel" class="btn login-btn">
                                        <input type="submit" value="submit" class="btn login-btn">
                                    </div>
                                </div>
                            </div>
                        
                            <span>
                                {% if error_messages %}
                                <div class="errors-common">
                                    <ul class="ul-errors">
                                        {% for field, message in error_messages.items %}
                                            {% if message %}
                                                <li>{{ message }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- display the data's -->
            <div class="row m-0 p-0">
                <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">

                    <h5 class="my-4">Online Payment Details</h5>
                    <div class="table-responsive" style="overflow-x: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="thead">Date</th>
                                    <th scope="col" class="thead">Payment Mode</th>
                                    <th scope="col" class="thead">UPI ID</th>
                                    <th scope="col" class="thead">App Name</th>
                                    <th scope="col" class="thead">Account NO</th>
                                    <th scope="col" class="thead">IFSC Code</th>
                                    <th scope="col" class="thead">Branch Name</th>
                                    <th scope="col" class="thead">Name</th>
                                    <th scope="col" class="thead">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                    <tr>
                                        <td class="tdata">{{ payment.date|date:'Y-m-d' }}</td>
                                        <td class="tdata">{{ payment.payment_mode }}</td>
                                        <td class="tdata">{{ payment.upi_transaction_id }}</td>
                                        <td class="tdata">{{ payment.upi_app_name }}</td>
                                        <td class="tdata">{{ payment.bank_account_no }}</td>
                                        <td class="tdata">{{ payment.bank_ifsc_code }}</td>
                                        <td class="tdata">{{ payment.bank_branch_name }}</td>
                                        <td class="tdata">{{ payment.bank_account_holder_name }}</td>
                                        <td class="tdata">{{ payment.amount }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center">No Payments available</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>

function setDatePickerLimits() {
    const datePicker = document.getElementById('date-picker');
    console.log(datePicker)
    const today = new Date();
    const tenDaysBeforeToday = new Date(today);
    tenDaysBeforeToday.setDate(today.getDate() - 10);

    // Format dates as YYYY-MM-DD
    const todayString = today.toISOString().split('T')[0];
    const tenDaysBeforeString = tenDaysBeforeToday.toISOString().split('T')[0];

    // Set min and max attributes
    datePicker.setAttribute('min', tenDaysBeforeString);
    datePicker.setAttribute('max', todayString);
}

document.addEventListener('DOMContentLoaded', function() {
    const registrationNoField = document.getElementById('registration_no');
    
    registrationNoField.addEventListener('change', function() {
        const registration_no = this.value;
        if (registration_no) {
            fetch(`/get-enrollment-details/?registration_no=${encodeURIComponent(registration_no)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        clearFields();
                    } else {
                        populateFields(data);
                    }
                })
                .catch(error => {
                    // alert('Error fetching enquiry details.');
                    console.error('There was a problem with the fetch operation:', error);
                    window.location.reload()
                });
        }
    });
    
    function populateFields(data) {
        document.getElementById('student_name').value = data.student_name || '';
        document.getElementById('course_name').value = data.course_name || '';
        document.getElementById('duration').value = data.duration || '';
        document.getElementById('joining_date').value = data.joining_date || '';
    }
    
    function clearFields() {
        document.getElementById('student_name').value = '';
        document.getElementById('course_name').value = '';
        document.getElementById('duration').value = '';
        document.getElementById('joining_date').value = '';
    }
});

    // dropdown functionality
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });
    

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());

document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('payment_form');

    function validateForm() {
        let isValid = true;

        // Reset previous error messages
        document.querySelectorAll('.error-div').forEach(el => el.textContent = '');

        const paymentInfo = document.getElementById('payment_info').value.trim();
        const paymentMode = document.getElementById('payment_mode').value;
        const date = document.getElementById('date').value;
        const amount = document.getElementById('amount').value.trim();

        if (!paymentInfo) {
            document.getElementById('payment_info_error').textContent = 'Payment Info ID is required.';
            isValid = false;
        }

        if (!paymentMode) {
            document.getElementById('payment_mode_error').textContent = 'Payment Mode is required.';
            isValid = false;
        }

        if (!date) {
            document.getElementById('date_error').textContent = 'Payment Date is required.';
            isValid = false;
        }

        if (!amount) {
            document.getElementById('amount_error').textContent = 'Amount is required.';
            isValid = false;
        }

        if (paymentMode === 'UPI') {
            const transactionId = document.getElementById('transaction_id').value.trim();
            const appName = document.getElementById('app_name').value.trim();

            if (!transactionId) {
                document.getElementById('transaction_id_error').textContent = 'UPI Transaction ID is required.';
                isValid = false;
            }

            if (!appName) {
                document.getElementById('app_name_error').textContent = 'App Name is required.';
                isValid = false;
            }
        }

        if (paymentMode === 'Bank Transfer') {
            const bankName = document.getElementById('bank_name').value.trim();
            const accountNo = document.getElementById('account_no').value.trim();
            const ifscCode = document.getElementById('ifsc_code').value.trim();
            const branchName = document.getElementById('branch_name').value.trim();
            const accountHolderName = document.getElementById('account_holder_name').value.trim();

            if (!bankName) {
                document.getElementById('bank_name_error').textContent = 'Bank Name is required.';
                isValid = false;
            }

            if (!accountNo) {
                document.getElementById('account_no_error').textContent = 'Account Number is required.';
                isValid = false;
            }

            if (!ifscCode) {
                document.getElementById('ifsc_code_error').textContent = 'IFSC Code is required.';
                isValid = false;
            }

            if (!branchName) {
                document.getElementById('branch_name_error').textContent = 'Branch Name is required.';
                isValid = false;
            }

            if (!accountHolderName) {
                document.getElementById('account_holder_name_error').textContent = 'Account Holder Name is required.';
                isValid = false;
            }
        }

        return isValid;
    }

    function handleCashChange() {
        const paymentMode = document.getElementById('payment_mode').value;
        
        document.getElementById('transaction_id_div').style.display = paymentMode === 'UPI' ? 'block' : 'none';
        document.getElementById('bank_name_div').style.display = paymentMode === 'Bank Transfer' ? 'block' : 'none';
        document.getElementById('app_name_div').style.display = paymentMode === 'UPI' ? 'block' : 'none';
        document.getElementById('account_no_div').style.display = paymentMode === 'Bank Transfer' ? 'block' : 'none';
        document.getElementById('ifsc_code_div').style.display = paymentMode === 'Bank Transfer' ? 'block' : 'none';
        document.getElementById('branch_name_div').style.display = paymentMode === 'Bank Transfer' ? 'block' : 'none';
        document.getElementById('account_holder_name_div').style.display = paymentMode === 'Bank Transfer' ? 'block' : 'none';
    }

    form.addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });

    document.getElementById('payment_mode').addEventListener('change', handleCashChange);
});


</script>
{% endblock %}