{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}User Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_user.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
    <div class="row m-0 p-0">
        {% include 'side_navbar.html' %}

        <div class="col-10 background-div">
            
                <div class="row m-0 p-0">
                    <div class="col border bg-white rounded mt-4 ms-4 mb-2 px-4">
                        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                              <li class="breadcrumb-item"><a class="user-a" href="#">User Module</a></li>
                              <li class="breadcrumb-item active" aria-current="page">New User</li>
                            </ol>
                        </nav>
                    </div>
                </div>


                <div class="row m-0 p-0">
                    <div class="col border bg-white rounded mt-2 ms-4 mb-2 px-4">

                        <div class="row m-0 p-0">
                            <form id="login-form" action="{% url 'update-user' user.id %}" method="post">
                                {% csrf_token %}    
                                <div class="col-12 mt-4">
                                    <h5 class="fw-bold">Update User</h5>
                                    <p class="user-para">Use the below form to update your profile</p>
                                </div>
                                <div class="row d-flex justify-content-between pe-0">
                                    <div class="col-6">
                                        <div class="user-input-wrp me-4">
                                            <input type="text" name="username" id="username" value="{{user.username}}" class="form-control" aria-label="Username" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">Name</label>
                                            <span id="user_error" class="error-div">
                                                {% if username %}
                                                    {{username}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 pe-0">
                                        <div class="user-input-wrp ms-4">
                                            <input type="email" name="email" id="email" value="{{user.email}}" class="form-control" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">E-Mail-ID</label>
                                            <span id="email_error" class="error-div error-right">
                                                {% if email %}
                                                    {{email}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-between pe-0">
                                    <div class="col-6">
                                        <div class="user-input-wrp me-4">
                                            <input type="text" name="contact" id="contact" value="{{user.contact}}" class="form-control" aria-label="contact_no" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">Contact No</label>
                                            <span id="contact_error" class="error-div">
                                                {% if contact %}
                                                    {{contact}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 pe-0">
                                        <div class="user-input-wrp ms-4">
                                            <input type="text" name="designation" id="designation" value="{{user.designation}}" class="form-control" aria-label="designation" placeholder=" " autocomplete="off" autofocus>
                                            <label class="floating-label">Designation</label>
                                            <span id="designation_error" class="error-div error-right">
                                                {% if designation %}
                                                    {{designation}}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex mt-3">
                                    <p class="permission-p">Department Permission</p> <span id="permission_error" class="error-div perm-error"></span>
                                    <div class="row gap-5 ms-2 mb-3 p-0">
                                        <div class="col d-flex justify-content-end p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Enquiry" id="inlineCheckbox1" {% if user.enquiry %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox1">Enquiry</label>
                                            </div>  
                                        </div>
                                        <div class="col d-flex justify-content-end p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Enrollment" id="inlineCheckbox2" {% if user.enrollment %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox2">Enrollment</label>
                                            </div>                                          
                                        </div>
                                        <div class="col d-flex justify-content-end p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Attendance" id="inlineCheckbox3" {% if user.attendance %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox3">Attendance</label>
                                            </div>                                          
                                        </div>
                                        <div class="col d-flex justify-content-end  p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Staff" id="inlineCheckbox4" {% if user.staff %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox4">Staff</label>
                                            </div>                                          
                                        </div>
                                        <div class="col d-flex justify-content-end  p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Placement" id="inlineCheckbox5" {% if user.placement %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox5">Placement</label>
                                            </div>                                          
                                        </div>
                                        <div class="col d-flex justify-content-end p-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="Report" id="inlineCheckbox6" {% if user.report %}checked{% endif %}>
                                                <label class="form-check-label" for="inlineCheckbox6">Report</label>
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex justify-content-end pe-4">
                                        <input type="reset" value="cancel" class="btn login-btn">
                                    </div>
                                    <div class="col-6 d-flex justify-content-start ps-4">
                                        <input type="submit" value="save" class="btn login-btn">
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function() {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });

    // validation

    document.getElementById("login-form").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form submission

        var username = document.getElementById("username").value.trim();
        // var password = document.getElementById("password").value.trim();
        // var cpassword = document.getElementById("cpassword").value.trim();
        var email = document.getElementById("email").value.trim();
        var contact = document.getElementById("contact").value.trim();
        var designation = document.getElementById("designation").value.trim();
        var Enquiry = document.getElementById("inlineCheckbox1").value.trim();
        var Enrollment = document.getElementById("inlineCheckbox2").value.trim();
        var Attendance = document.getElementById("inlineCheckbox3").value.trim();
        var Staff = document.getElementById("inlineCheckbox4").value.trim();
        var Placement = document.getElementById("inlineCheckbox5").value.trim();
        var Report = document.getElementById("inlineCheckbox6").value.trim();
        

        let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        let contactCountryCode = /^(\+?\d{1,3}|\d{1,4})$/gm
        let hasError = false;

        // client username Field validation
        if (username === "") {
            document.getElementById("user_error").innerText = "Username Field is required";
            hasError = true;
        } else {
            document.getElementById("user_error").innerText = "";
        }

        // client side email Field validation
        if (email == "") {
            document.getElementById("email_error").innerText = "Email Field is required";
            hasError = true;
        } else {
            document.getElementById("email_error").innerText = "";
        }

        // client side contact Field validation

        // Clear previous error
        document.getElementById("contact_error").innerText = "";

        if(contact == "") {
            document.getElementById("contact_error").innerText = "Contact Field is required";
            hasError = true;
        } else if (!/^\+?[0-9]+$/.test(contact)) {
            document.getElementById("contact_error").innerText = "Given input field must be a number, with country code";
            hasError = true;
        } else if (contact.replace(/^\+/, '').length < 10 || contact.replace(/^\+/, '').length > 15) {
            document.getElementById("contact_error").innerText = "Contact field must be 10 to 15 digits long";
            hasError = true;
        } else {
            document.getElementById("contact_error").innerText = "";
        }
        
        // client side designation Field validation
        if(designation == "") {
            document.getElementById("designation_error").innerText = "Designation Field is required";
            hasError = true;
        } else {
            document.getElementById("designation_error").innerText = "";
        }

        // client side designation Field validation
        var enquiry = document.getElementById("inlineCheckbox1").checked;
        var enrollment = document.getElementById("inlineCheckbox2").checked;
        var attendance = document.getElementById("inlineCheckbox3").checked;
        var staff = document.getElementById("inlineCheckbox4").checked;
        var placement = document.getElementById("inlineCheckbox5").checked;
        var report = document.getElementById("inlineCheckbox6").checked;

        if (!enquiry && !enrollment && !attendance && !staff && !placement && !report) {
            document.getElementById("permission_error").innerText = "At least one permission field is required";
            hasError = true;
            
        } else {
            document.getElementById("permission_error").innerText = "";
            
        }


        // client side password Field validation
        // if (password === "") {
        //     document.getElementById("pass_error").innerText = "Password Field is required";
        //     hasError = true;
        // } else {
        //     document.getElementById("pass_error").innerText = "";
        // }

        // // client side conform password Field validation
        // if (cpassword === "") {
        //     document.getElementById("cpass_error").innerText = "Conform Password Field is required";
        //     hasError = true;
        // } else if (password !== cpassword) {
        //     document.getElementById("cpass_error").innerText = "Passwords do not match";
        //     hasError = true;
        // } else {
        //     document.getElementById("cpass_error").innerText = "";
        // }

         // Submit the form if there are no errors
        if (!hasError) {
            document.getElementById("login-form").submit();
        }
    });

    function permission(checkboxId) {
        // Get the checkbox
        console.log("permission function")
        var checkBox = document.getElementById(checkboxId);
        // Get the output text
        // var text = document.getElementById('text_' + checkboxId);

        // If the checkbox is checked, display the output text
        if (checkBox.checked) {
            checkBox.value = true;
        } else {
            checkBox.value = false;
        }
    }
</script>
{% endblock %}