{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}User Module{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/user_module.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
    <div class="row m-0 p-0">
        {% include 'side_navbar.html' %}

        <div class="col-10 background-div">
            
                <div class="row m-0 p-0">
                    <div class="col border bg-white rounded mt-4 ms-4 mb-2 px-4">
                        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                              <li class="breadcrumb-item"><a class="user-a" href="#">User Module</a></li>
                              <li class="breadcrumb-item active" aria-current="page">New User</li>
                            </ol>
                        </nav>
                    </div>
                </div>


                <div class="row m-0 p-0">
                    <div class="col border bg-white rounded mt-2 ms-4 mb-2 px-4">

                        <div class="row m-0 p-0">
                            
                            <div class="col-12 mt-4">
                                <h5 class="fw-bold">New User</h5>
                                <p class="user-para">Use the below form to update your profile</p>
                            </div>
                            <div class="row d-flex justify-content-between pe-0">
                                <div class="col-6">
                                    <div class="user-input-wrp me-4">
                                        <input type="text" name="username" id="username" class="form-control" aria-label="Username" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">Name</label>
                                    </div>
                                </div>
                                <div class="col-6 pe-0">
                                    <div class="user-input-wrp ms-4">
                                        <input type="email" name="email" id="email" class="form-control" aria-label="email" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">E-Mail-ID</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between pe-0">
                                <div class="col-6">
                                    <div class="user-input-wrp me-4">
                                        <input type="text" name="contact" id="contact" class="form-control" aria-label="contact_no" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">Contact No</label>
                                    </div>
                                </div>
                                <div class="col-6 pe-0">
                                    <div class="user-input-wrp ms-4">
                                        <input type="text" name="designation" id="designation" class="form-control" aria-label="designation" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">Designation</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex mt-3">
                                <p class="permission-p">Department Permission</p>
                                <div class="row gap-5 ms-2 mb-3 p-0">
                                    <div class="col d-flex justify-content-end p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Enquiry</label>
                                        </div>  
                                    </div>
                                    <div class="col d-flex justify-content-end p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Enrollment</label>
                                        </div>                                          
                                    </div>
                                    <div class="col d-flex justify-content-end p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Attendance</label>
                                        </div>                                          
                                    </div>
                                    <div class="col d-flex justify-content-end  p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Staff</label>
                                        </div>                                          
                                    </div>
                                    <div class="col d-flex justify-content-end  p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Placement</label>
                                        </div>                                          
                                    </div>
                                    <div class="col d-flex justify-content-end p-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Report</label>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row d-flex justify-content-between pe-0">
                                <div class="col-6">
                                    <div class="user-input-wrp me-4">
                                        <input type="password" name="password" id="password" class="form-control" aria-label="password" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">Password</label>
                                    </div>
                                </div>
                                <div class="col-6 pe-0">
                                    <div class="user-input-wrp ms-4">
                                        <input type="password" name="password" id="password" class="form-control" aria-label="password" placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">Conform Password</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-between">
                                <div class="col-6 d-flex justify-content-end pe-4">
                                    <input type="submit" value="cancel" class="btn login-btn">
                                </div>
                                <div class="col-6 d-flex justify-content-start ps-4">
                                    <input type="submit" value="save" class="btn login-btn">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            
        </div>
    </div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function() {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });
</script>
{% endblock %}